[2020-04-08 09:30] madewild opened #10 "Sort query results by relevance/recency"
Currently random for frontpage and lucene score for full-text search

[2020-04-08 09:33] madewild opened #8 "AND vs OR"
Search with two words (e.g. low carbon) should give higher score to projects with both words

[2020-04-08 09:33] madewild opened #9 "Wildcard"
What is the Lucene syntax and does it work in the UI?

[2020-06-19 09:11] madewild opened #11 "Provide region of each project in API"
Needed to display over the map

[2020-07-10 07:32] madewild opened #15 "Abstract shown on projects search is truncated"
When searching for keywords, Lucene highlights them and we see only the relevant part but we should at least see the beginning with ...

[2020-08-24 12:21] madewild opened #16 "Region alignment"
Map uses NUTS 2016 whereas the filters use other regions...

[2020-08-27 08:14] D063520 opened #18 "Bug with map not rendering all projects sometimes"
Reproduce with filters:
Denmark
Low Carbon Economy

[2020-08-27 08:29] D063520 commented on #18
I fixed it:

https://dev.kohesio.eu/projects?country=Denmark&theme=Low-Carbon-Economy

<img width="1394" alt="Screenshot 2020-08-27 at 10 29 36" src="https://user-images.githubusercontent.com/10883585/91416824-360beb80-e850-11ea-9cc6-64a26b9ed05a.png">

[2020-08-27 08:29] #18 closed

[2020-08-27 09:06] madewild opened #19 "Automate reindexing of projects"
Add cron job so that changes in Wikibase are reflected on Kohesio

[2020-08-28 11:53] D063520 opened #20 "Slow query"
Check why this query is slow:

select ?s0 ?snippet ?label ?description ?startTime ?endTime ?euBudget ?image ?coordinates ?objectiveId ?countrycode where {  { SELECT ?s0 ?snippet where { ?s0 <http://www.openrdf.org/contrib/
lucenesail#matches> [ <http://www.openrdf.org/contrib/lucenesail#query> "community led local development " ; <http://www.openrdf.org/contrib/lucenesail#snippet> ?snippet ] .

[2020-08-31 07:50] madewild opened #21 "Mayotte randomly placed"
For instance on https://dev.kohesio.eu/projects/Q2494161 refresh several times the page:

In Mayotte, SLOVENIJA, Turkey
In Mayotte, Brandenburg, Romania
In Mayotte, ΚΕΝΤΡΙΚΗ ΕΛΛΑΔΑ, United Kingdom
etc.

[2020-08-31 09:11] D063520 commented on #21
I think this is a bug in the SPARQL endpoint of wikidata. This is right:

https://query.linkedopendata.eu/#select%20%3Fs0%20%20%3FregionId%20%3Fregion%20%3FregionLabel%20%3FregionUpper1%20%3FregionUpper1Label%20%3FregionUpper2Label%20%3FregionUpper3Label%20where%20%7B%20%0A%20%20VALUES%20%3Fs0%20%7B%20%3Chttps%3A%2F%2Flinkedopendata.eu%2Fentity%2FQ2494161%3E%20%7D%20%20%0A%20%20%3Fs0%20%3Chttp%3A%

[2020-08-31 09:31] D063520 commented on #21
what an error! it was not a bug in the sparql endpoint .... what happend was that

1) mayotte was aligned to a wikidata entity
2) when the wikidata statements were imported then one of the sattements had preffered rank
3) in consequence mayotte was not anymore a nuts 2 statstical entity..

Is fixed

[2020-08-31 09:31] #21 closed

[2020-08-31 12:39] D063520 commented on #20
it is faster now ... to be monitored .....

[2020-08-31 12:41] D063520 commented on #15
Sorry Max I do not understand anymore the problem here, do you remember?

[2020-08-31 12:44] madewild commented on #15
It is the same thing Thierry mentioned, the sentence is cut in the middle. We should add "..." add the end (what Thierry calls "cosmetic change") but maybe we can do it at the UI level? Not sure, to discuss with Raph

[2020-08-31 12:57] D063520 commented on #15
Now it looks like this:

https://dev.kohesio.eu/projects?keywords=low%20carbon&country=Czech-Republic

[2020-08-31 12:57] #15 closed

[2020-08-31 12:59] D063520 commented on #9
Wildecards are working or? Like:

https://dev.kohesio.eu/projects?country=Czech-Republic&keywords=managem*

Is this not a wildecard?

[2020-08-31 13:00] madewild commented on #9
Yes it works

[2020-08-31 13:00] #9 closed

[2020-08-31 13:00] D063520 commented on #8
This also seams to work:

https://dev.kohesio.eu/projects?country=Czech-Republic&keywords=management%20AND%20tracking

https://dev.kohesio.eu/projects?country=Czech-Republic&keywords=management%20OR%20tracking

This is what we want or?

[2020-08-31 13:03] madewild commented on #8
Yes perfect, we just need to document somewhere for the users that AND should be spelled in capitals for the intersection (OR is default behaviour). We can document the * for wildcard at the same place

[2020-08-31 13:03] #8 closed

[2020-08-31 13:17] madewild opened #35 "Czechia"
vs Czech Republic, what does the MS prefer?

[2020-09-01 09:05] D063520 opened #22 "Allow to sort the results by budget and by date"
Optimize the SPARQL query to allow acceptable performance for order by operator

[2020-09-01 10:32] madewild commented on #16
Postponed to v3 (REGIO decision)

[2020-09-01 10:39] madewild opened #23 "Wrong copyright information"
A lot of images (including the placeholder when no image is present) have the copyright info "“©Société de Gestion de la Station des Rousses, SAEM SOGESTAR / Benjamin Becker (2017)”.
This seems to be an error, we need to check what to display (if anything at all) for generic images.

[2020-09-01 10:50] madewild commented on #23
The information is correct in the wikibase but not on the website and I cannot see it from the API!

[2020-09-01 10:51] madewild commented on #23
https://dev.kohesio.eu/projects/Q139379 states "©Société de Gestion de la Station des Rousses, SAEM SOGESTAR / Benjamin Becker (2017)" (incorrect)
https://linkedopendata.eu/wiki/Item:Q139379 states "Mellisim & Mellisense" (correct)
The API needs to send this correct info with the image to the UI

[2020-09-03 07:06] madewild opened #24 "Allow search on original label and summary"
Currently search only looks for English (mostly translated) fields but when the translation is bad it is tricky to find projects. Running the search on original fields will allow to use well known keywords from the original projects.

[2020-09-03 10:32] madewild opened #25 "Always show description when searching?"
Currently if we search a keyword and a match is found in the title (label), we display the title twice (once normal and once with match in bold) and not the description at all. Should we always display the description (even containing no match) in this case? To discuss...

[2020-09-03 13:09] madewild commented on #11
@D063520 is this finished? or need to postpone to v3?

[2020-09-03 13:17] D063520 commented on #11
It needs to be postponed, I'm waiting for an answer from thierry

[2020-09-04 10:14] madewild commented on #19
Working :)

[2020-09-04 10:14] #19 closed

[2020-09-04 12:53] madewild opened #26 "Operator AND by default?"
According to Lucene doc, "The OR operator is the default conjunction operator. This means that if there is no Boolean operator between two terms, the OR operator is used." (https://lucene.apache.org/core/2_9_4/queryparsersyntax.html#Boolean%20operators)

However, Google used the AND operator by default (https://support.google.com/websearch/answer/2466433?hl=en) so expectations from the users might

[2020-09-04 13:09] D063520 commented on #26
I didn;t new that!

[2020-09-04 13:11] madewild commented on #26
Well one learns every day ;)

[2020-09-17 08:39] madewild opened #27 "In [THE REGION]"
Projects like https://kohesio.eu/projects/Q155133 that have no materialized region or coordinates should at least read "In France" instead of the placeholder "In [THE REGION]"

[2020-09-17 08:55] madewild opened #28 "Blank Polish beneficiaries"
A lot of Polish beneficiaries have blank labels. For instance with search https://kohesio.eu/beneficiaries?name=green :
![pl_blank](https://user-images.githubusercontent.com/942488/93448758-3d189d80-f8d4-11ea-929f-f39c7dfd4f2a.png)

[2020-09-17 08:57] madewild opened #29 "Export projects"
Allow export of (filrered) projects, not only beneficiaries

[2020-09-17 09:36] madewild opened #30 "Semantic search"
Use word2vec (or similar) to allow smarter search across all fields

[2020-09-21 13:27] D063520 commented on #24
A question .... would it be fine if the user can select as a language czech and then we search over the text description?

[2020-09-21 13:55] madewild commented on #24
I think it would be better to allow search over all languages at once...

[2020-09-23 08:24] madewild opened #31 "More data needed in full country exports"
To add to the exports on https://data.linkedopendata.eu/kohesio/:

- label of category of intervention
- policy objective
- thematic objective
- anything else that is available in the UI filters?

[2020-09-24 20:11] #31 closed

[2020-09-25 05:49] madewild opened #32 "Quote issue in CSV exports"
Quotes from labels (and possibly other fields) are not being escaped in CSV exports. For instance in Denmark, https://linkedopendata.eu/wiki/Item:Q2100913 has the following Danish label:
**Kommune- og uddannelsessamspil - "Komm Udd"**
but in the file https://data.linkedopendata.eu/kohesio/latest_DK.csv it appears as:
**Kommune- og uddannelsessamspil -**

So part of the label is truncated due to th

[2020-09-25 09:02] D063520 commented on #28
The problem was that some polish beneficiares had the label in czech ....

[2020-09-25 09:02] #28 closed

[2020-09-30 08:28] #10 closed

[2020-09-30 08:48] madewild opened #33 "API for beneficiary detail page"

[2020-09-30 10:01] D063520 commented on #27
I changed the API, I will open an issue for Raph to take it over in the front-end

[2020-09-30 10:01] #27 closed

[2020-09-30 13:05] D063520 commented on #25
basically it is already in the API .... so we need to change it in the front-end

[2020-09-30 13:06] #25 closed

[2020-09-30 13:22] #32 closed

[2020-10-03 20:25] #24 closed

[2020-10-05 14:07] madewild opened #34 "Backslash ignored by export"
See https://linkedopendata.eu/wiki/Item:Q77445 for instance

[2020-10-07 07:30] madewild commented on #35
So we should use Czechia everywhere instead of Czech Republic... let's start in the Countries filter, and also sort the countries alphabetically while we're at it :)

[2020-10-07 07:30] madewild commented on #35
For the Wikibase it can wait...

[2020-10-07 08:21] madewild opened #36 "Export improvements"
Not urgent but to keep some notes on exports:

- beneficiaries are based on string (P841) rather than disambiguated entity (P889). Therefore the total number is always different from the one show on the Kohesio homepage. One option would be to include the label of P889 in the export (keeping in mind that it is not translated in English, so we need to adapt language from country to country)
- NUTS3

[2020-10-07 09:08] madewild commented on #26
There is a bug with the AND: even if asking for 15 results we get only 5:
![5results](https://user-images.githubusercontent.com/942488/95311067-6d2cde00-088d-11eb-9bbf-239f51b4baaf.png)
And the OR does not work anymore in dev...

[2020-10-09 08:33] madewild commented on #34
Not so urgent, let's focus on other issues first

[2020-10-09 08:34] madewild commented on #35
Maybe this can also wait, let's not risk breaking the API/UI just before the merge

[2020-10-09 08:37] AlyHdr commented on #34
We fixed this already but it's not deployed yet..

[2020-10-12 09:33] AlyHdr commented on #26
If the text doesn't contains one of those: "AND" "OR" "NOT" , then all spaces are replaced with AND as a default behavior to do..

[2020-10-12 09:33] #26 closed

[2020-10-12 10:03] #22 closed

[2020-10-13 06:58] madewild commented on #35
Confirmed by Anne, we should change to Czechia everywhere

[2020-10-14 09:52] madewild opened #37 "Projects not showing on the map"
https://kohesio.eu/projects?keywords=green%20carbon&country=France

there is nothing on the map and an error (ERROR TypeError: e.forEach is not a function) in the console

[2020-10-16 09:59] madewild opened #38 "Beneficiary regions"
https://kohesio.eu/beneficiaries?name=gate&country=Denmark

Gate21 is not in any Danish region. We should get the regions from the projects...

[2020-10-16 10:03] D063520 commented on #38
Solved

[2020-10-16 10:03] #38 closed

[2020-10-19 06:47] madewild commented on #37
The query above works, but this one still fails: https://kohesio.eu/projects?keywords=green&country=France

We get a 500 error:

message: "Http failure response for https://kohesio.linkedopendata.eu/api/facet/eu/search/project/map?keywords=green&country=https://linkedopendata.eu/entity/Q20&granularityRegion=https://linkedopendata.eu/entity/Q20: 500 OK"
name: "HttpErrorResponse"
ok: false
status: 5

[2020-10-19 07:50] D063520 commented on #37
ok, I changed something .... in general on the map there is a SPARQL query optimization problem .... we have this in mind, we have an idea how to fix it, but to implement it will take some time ..... cannot do better currently

[2020-10-19 07:50] #37 closed

[2020-10-19 12:05] D063520 commented on #34
The initial example is not there anymore since the text was retranslated, but the error should be gone .... added to this entity a backslash:

https://linkedopendata.eu/wiki/Item:Q2100851

to be removed after the expert tomorrow is checked

[2020-10-19 12:08] D063520 commented on #36
would it be fine if I make a separate export for the nuts, 4 columns, nuts3, nuts2 nuts1, country. I think it can be joint in the click thing tool ....

otherwise making the join will unnecessary increase the export ....

[2020-10-19 12:36] madewild commented on #36
QlikSense ;)
Yes I guess it would also work like this...

[2020-10-20 07:28] D063520 commented on #34
@AlyHdr: now the backslash disappered, but it should stay .....

[2020-10-22 11:11] madewild opened #49 "Invalid (end) date"
Example: https://kohesio.eu/projects/Q19824
The end date is invalid. However on https://linkedopendata.eu/wiki/Item:Q19824 we see an "expected end time". We should probably have something smarter in the UI for unfinished projects than showing "invalid end date" for all ;)

[2020-10-22 13:57] #34 closed

[2020-10-23 09:18] madewild commented on #36
Catia confirms it's fine (of course we also need the QID). Do you want me to do it? A single export is fine, we don't need to update this every day
For the beneficiaries let's think what is best

[2020-10-23 09:37] madewild commented on #36
Example for France:
https://query.linkedopendata.eu/#select%20%3Fproject%20%3Fnuts3%20%3Fnuts2%20%3Fnuts1%20%3Fcountry%20where%20%7B%0A%3Fproject%20%3Chttps%3A%2F%2Flinkedopendata.eu%2Fprop%2Fdirect%2FP35%3E%20%3Chttps%3A%2F%2Flinkedopendata.eu%2Fentity%2FQ9934%3E%20.%0A%3Fproject%20%3Chttps%3A%2F%2Flinkedopendata.eu%2Fprop%2Fdirect%2FP32%3E%20%3Chttps%3A%2F%2Flinkedopendata.eu%2Fentity%2FQ20%3E%2

[2020-10-23 10:13] madewild commented on #36
Done for all countries except Italy for which there is a timeout, will try again later

https://query.linkedopendata.eu/#select%20%3Fproject%20%3Fnuts3%20%3Fnuts2%20%3Fnuts1%20%3Fcountry%20where%20%7B%0A%3Fproject%20%3Chttps%3A%2F%2Flinkedopendata.eu%2Fprop%2Fdirect%2FP35%3E%20%3Chttps%3A%2F%2Flinkedopendata.eu%2Fentity%2FQ9934%3E%20.%0A%3Fproject%20%3Chttps%3A%2F%2Flinkedopendata.eu%2Fprop%2Fdire

[2020-10-23 14:30] D063520 commented on #36
they are also available here now:

https://data.linkedopendata.eu/kohesio/

[2020-10-26 07:59] madewild commented on #36
My query above for Italy is still failing with Error code: SIGTRAP. @D063520 can you run it on the other endpoint?
I saw your nuts exports but they do not contain one line per project so I need to check with Catia if she could reconcile that with what she already haves (the other exports do not have qids of region, only region label which can be ambiguous, so it's better to reconcile files on proj

[2020-10-26 09:10] D063520 commented on #36
I would prefer putting in the project export an identifier for regions and one for beneficiaries and then have two separate files: one with the details for the regions (like it is right now) and one with the details for the beneficiaries .... I think this would be a proper more SQL like export .... is this fine?

[2020-10-26 10:44] madewild opened #39 "Missing beneficiary in API"
https://kohesio.eu/projects/Q154158
beneficiaryLabel is empty although it is there on https://linkedopendata.eu/wiki/Item:Q154158

[2020-10-26 11:21] #39 closed

[2020-10-26 13:05] madewild commented on #36
OK for me

[2020-10-26 13:29] #36 closed

[2020-11-06 15:16] madewild opened #40 "Duplicate beneficiaries in exports"
Beneficiaries with two websites appear on two lines in beneficiaries exports

[2020-11-06 15:17] madewild opened #41 "Missing beneficiaries in exports"
https://linkedopendata.eu/wiki/Item:Q2510730 is missing from Polish beneficiary export

https://query.linkedopendata.eu/#SELECT%20distinct%20%3Fbeneficiary%20WHERE%20%7B%20%3Fbeneficiary%20%3Chttps%3A%2F%2Flinkedopendata.eu%2Fprop%2Fdirect%2FP35%3E%20%3Chttps%3A%2F%2Flinkedopendata.eu%2Fentity%2FQ196899%3E%20.%20%3Fbeneficiary%20%3Chttps%3A%2F%2Flinkedopendata.eu%2Fprop%2Fdirect%2FP32%3E%20%3Chttp

[2020-11-06 15:21] #40 closed

[2020-11-06 15:28] D063520 commented on #41
basically it is the rank of the statement ....
it is beneficiary with "normal rank" and research institute with "high rank"!
oh no!!!!!!!!
why is knwoledge representation sometimes so tideus!

SOLUTION: make all beneficiaries of high rank, instead of normal rank ....

[2020-11-06 15:36] D063520 commented on #41
Query non reefined:

https://query.linkedopendata.eu/#select%20%28count%28%2a%29%20as%20%3Fc%29%20where%20%7B%0A%20%3Fs1%20%20%3Chttps%3A%2F%2Flinkedopendata.eu%2Fprop%2Fdirect%2FP35%3E%20%20%3Chttps%3A%2F%2Flinkedopendata.eu%2Fentity%2FQ196899%3E%20.%0A%7D

no matching all beneficiaries since some have preferred rank higher than normal. The query matching all is:

https://query.linkedopendata.eu/

[2020-11-06 15:40] D063520 commented on #41
Query non reefined:

https://query.linkedopendata.eu/#select%20%28count%28%2a%29%20as%20%3Fc%29%20where%20%7B%0A%20%3Fs1%20%20%3Chttps%3A%2F%2Flinkedopendata.eu%2Fprop%2Fdirect%2FP35%3E%20%20%3Chttps%3A%2F%2Flinkedopendata.eu%2Fentity%2FQ196899%3E%20.%0A%7D

no matching all beneficiaries since some have preferred rank higher than normal. The query matching all is:

https://query.linkedopendata.eu/

[2020-11-06 15:43] D063520 commented on #41
Some code. Remove instance of beneficiary statement. Something like this:

 claimsToRemove = []
    for wikibase_claims in wikibase_item.claims:
        for wikibase_c in wikibase_item.claims.get(wikibase_claims):
            if wikibase_c.toJSON().get('mainsnak').get('property') == "P889":
                claimsToRemove.append(wikibase_c)
    if len(claimsToRemove) > 0:
        wikibase_item.remo

[2020-11-10 08:56] madewild opened #42 "Wrong regional info"
Old bug coming back...

https://kohesio.eu/projects/Q1870712

![bari](https://user-images.githubusercontent.com/942488/98651797-faef6380-233a-11eb-8d2f-5f63b097c722.jpg)

[2020-11-10 11:44] #42 closed

[2020-11-10 16:14] D063520 commented on #29
Done, moving to front-end

[2020-11-10 16:14] #29 closed

[2020-11-14 08:59] D063520 commented on #41
The numbers are now matching ...

[2020-11-14 08:59] #41 closed

[2020-11-16 15:38] D063520 commented on #33
this is implemented, moving this to the front-end

[2020-11-16 15:38] #33 closed

[2020-11-16 15:46] D063520 commented on #35
Hi Max,

this should be fine, except that the country entity is still colled Czech Republic. Do we want to change this too?

It's a bit hard to change the name of an entity imported from Wikidata ... and to keep it in sync like this ...

Salut
Dennis

[2020-11-16 16:06] madewild commented on #35
OK let's keep it like that for now, maybe Wikidata/Wikipédia will also finally change
https://www.wikidata.org/wiki/Talk:Q213
https://en.wikipedia.org/wiki/Talk:Czech_Republic

[2020-11-16 16:18] D063520 commented on #35
Maybe you can put a comment as a member from the commission to move them towards it ; )

[2020-11-16 16:18] #35 closed

[2020-11-17 05:56] raphdom opened #43 "Fake id does not return an error"
An example:

https://kohesio.linkedopendata.eu/api/dev/facet/eu/project?id=https://linkedopendata.eu/entity/fakeid

It is possible return an error: 500, for example, instead of all empty?

[2020-11-17 09:04] madewild opened #44 "Export beneficiaries (and project) to XLSX"
Not XLS :) In the UI

[2020-11-17 14:03] D063520 commented on #44
move this to the UI

[2020-11-18 13:25] madewild commented on #44
@D063520 the export button works on both projects and beneficiaries but the output is still in XLS, should be in **XLSX**, thanks

[2020-11-18 13:59] D063520 commented on #44
It's related to this:

https://github.com/ec-doris/kohesio.eu/issues/151#issuecomment-729674301

it's a front-end problem, not a back-end problem ... can you check again, Raph seams to have fixed it

[2020-11-18 14:00] madewild commented on #44
ok sorry

[2020-11-18 14:00] #44 closed

[2020-11-18 14:21] AlyHdr commented on #43
https://kohesio.linkedopendata.eu/api/dev/facet/eu/project?id=https://linkedopendata.eu/entity/fakeid

This returns a 404 bad request now - as well as for the beneficiary

[2020-11-18 14:21] #43 closed

[2020-11-23 19:53] madewild commented on #30
Very interesting approach : http://kbresearch.nl/xportal/#demo

[2020-11-23 19:54] madewild commented on #30
@devironl not urgent at all but I might need your help at some point

[2020-11-24 08:43] madewild opened #45 "Sort beneficiaries by decreasing amount EU support"
On https://dev.kohesio.eu/beneficiaries
When we had only 500 the order was OK. Now we have all beneficiaries but the order seems random.

[2020-11-24 08:51] madewild opened #46 "Missing number of projects in themes"
https://dev.kohesio.eu/
This is an API issue??

![themes](https://user-images.githubusercontent.com/942488/100070731-8dfbc380-2e3a-11eb-99da-d5bbd6289c8d.png)

[2020-11-24 08:54] D063520 commented on #46
Hi, I do not see the API call at all .... so maybe it was called in the key figures block which is not there anymore

[2020-11-24 15:53] madewild opened #47 "Wikidata beneficiary served in wrong language"
https://kohesio.eu/projects/Q190314

beneficiary
Name: Korsikas forvaltning (https://www.wikidata.org/wiki/Q17050) in Danish (?!) instead of French

on https://linkedopendata.eu/wiki/Item:Q190314 it's displayed correctly in French ("Collectivité de Corse")

[2020-11-25 09:55] D063520 opened #48 "Make full text search on beneficiary like on project level, i.e. default to AND not OR"

[2020-11-25 09:58] AlyHdr commented on #48
I am on it..

[2020-11-25 09:59] D063520 commented on #48
take your time .... it's not urgent and two days of demo, so no changes will be deployed

[2020-11-25 10:03] AlyHdr commented on #48
Done :) just used the same one on projects

[2020-11-25 10:14] #48 closed

[2020-11-27 10:43] madewild opened #50 "Improve QA results"
I tried a few queries on https://qa.linkedopendata.eu/ and the results are not so great... Should we train the model so that we can showcase this nice feature in demos? Do you have examples of working queries on Kohesio data?

[2020-12-01 14:00] AlyHdr commented on #49
Now it's working on DEV: https://dev.kohesio.eu/projects?keywords=olive%20tree

[2020-12-01 14:00] #49 closed

[2020-12-16 09:14] madewild opened #51 "Provide CoI parent/children structure"
For https://github.com/ec-doris/kohesio.eu/issues/76

[2020-12-23 07:45] madewild commented on #11
@D063520 Thierry seems to be busy with other stuff... can we move forward on this or should we close it for now and concentrate on other priorities? Is this issue likely to come back with other countries?

[2021-01-04 10:59] D063520 commented on #47
working on dev:

https://dev.kohesio.eu/projects/Q190314

[2021-01-04 10:59] #47 closed

[2021-01-15 11:22] madewild commented on #50
Much better now

[2021-01-15 11:22] #50 closed

[2021-01-15 11:23] madewild commented on #51
What's the status on this?

[2021-01-15 11:24] madewild commented on #11
Still not possible to implement? If not I'll close it until it comes back.

[2021-01-20 07:49] madewild commented on #51
@D063520 @AlyHdr no reaction? OK let's postpone to next version then...

[2021-01-20 07:49] #11 closed

[2021-03-02 10:51] madewild opened #52 "Total budget showing as 0 €"
https://kohesio.eu/beneficiaries?fund=ERDF---European-Regional-Development-Fund&country=France&region=Provence-Alpes-C%C3%B4te-d%27Azur

"Métropole d'Aix-Marseille-Provence" for instance shows a total budget of 0 € even though several projects linked to this beneficiary have a total budget filled: https://kohesio.eu/beneficiaries/Q2536086

[2021-03-02 10:53] madewild opened #53 "Handling missing total budget"
On https://kohesio.eu/projects/Q154346 for instance we see

Total budget: 0 €
Funded by EU: 4 000 000 € (0%)

Should be:

Total budget: **Unknown**
Funded by EU: 4 000 000 €

Should we handle this in the API and/or UI?

[2021-03-02 10:56] madewild opened #54 "Missing end date"
On https://kohesio.eu/beneficiaries/Q198964 we have "Invalid date" for both start and end date. However the only project linked to this beneficiary actually has an end date: https://kohesio.eu/projects/Q11724. On the project detail page it comes from "expected end time" but not on the beneficiary detail page.

[2021-03-02 10:57] madewild opened #55 "Invalid date"
On https://kohesio.eu/projects/Q11724 for instance we have "Start date: Invalid date". However it's not really an invalid date, just a missing value in the Wikibase. So we should put "Start date: Unknown" instead. I don't know if it's in the API or hardcoded in the UI?

[2021-03-02 11:00] D063520 commented on #54
So you would like to keep the start date as invalid and the end date as expected end date?

[2021-03-02 11:06] madewild commented on #54
Yes the start date as Unknown (cf. #55 ) and the end date linked to expected end date of the project to be aligned with the project detail page

[2021-03-02 11:06] D063520 commented on #55
The API response looks like:

curl 'https://kohesio.linkedopendata.eu/api/facet/eu/project?id=https://linkedopendata.eu/entity/Q11724' \
-X 'GET' \

{
    "countryLabel": "Czech Republic",
    "projectWebsite": "",
    "link": "https://linkedopendata.eu/entity/Q11724",
    "categoryLabel": "Investment in infrastructure, capacities and equipment in large companies directly linked to research and in

[2021-03-02 12:22] #54 closed

[2021-03-02 12:25] D063520 commented on #53
The problem I guess is that is written in the original data ... so what to do? Do we remove all budgets that are 0? Like here:
https://linkedopendata.eu/wiki/Item:Q154346
There are currently more then 100 projects like this:
https://query.linkedopendata.eu/#%20SELECT%20%3Fs%20%3Fo%20%20WHERE%20%7B%09%0A%20%3Fs%20%3Chttps%3A%2F%2Flinkedopendata.eu%2Fprop%2Fdirect%2FP474%3E%20%20%3Fo%20.%0A%20%20%20

[2021-03-02 12:27] madewild commented on #53
Yes good point but it's obviously wrong... so yes I would rather remove these statements from the Wikibase altogether and add a filter to prevent zero amounts when importing new projects.

[2021-03-02 12:28] D063520 commented on #53
Ok, I assign this to Ali. He is not here today, but he can do it tomorrow.

[2021-03-02 12:38] D063520 commented on #52
ahhh, the problem is that between the projects in that fund and that region all have budget 0. So in fact it is right. It is more a data problem .... if we remove the statements with total budget 0 then we should get there unknow   .... so this goes with the other issue #53
@AlyHdr please check the behavieur once the other statements are deleted

[2021-03-02 12:44] D063520 commented on #52
Maybe as a second thought ... it my be a bit deeper in the sense that when one makes filters and then clicks on the beneficiaries then the filters are not considered ... is this needed?

[2021-03-02 12:55] madewild commented on #52
mmmh let's consider this carefully, it's more important to be consistent than having too many filtering possibilities

[2021-03-03 10:11] AlyHdr commented on #53
I removed all the statements with 0 budget from the wikibase, but now in the frontend instead of having unknown it shows a blank. So @raphdom do you prefer that we return "unknown" from the API or you could put unknown whenever the value is "" ?

[2021-03-03 10:12] raphdom commented on #53
I can do it on my side.

[2021-03-08 09:51] D063520 commented on #51
Ok, so I inserted the data already, because it was not there. So I introduced the class:

area of intervention https://linkedopendata.eu/wiki/Item:Q2653437

and the properties:

area of intervention ID https://linkedopendata.eu/wiki/Property:P178454
and
area of intervention https://linkedopendata.eu/wiki/Property:P178453

the knowledge is modelled like:

https://linkedopendata.eu/wiki/Item:Q200689

[2021-03-08 10:13] D063520 commented on #51
I deplyed the API on dev. It looks like:

[
{
"areaOfInterventionLabel":"areaOfInterventionLabel=\"Productive investment\"@en",
"instance":"instance=https://linkedopendata.eu/entity/Q200641",
"areaOfIntervention":"areaOfIntervention=https://linkedopendata.eu/entity/Q2653438",
"areaOfInterventionId":"areaOfInterventionId=\"I\"",
"instanceLabel":"001 - Generic productive investment in small and medi

[2021-03-08 14:23] AlyHdr commented on #52
So now this is working we just have to show "unknown" instead of empty as the previous issue with budgets.. so please @raphdom take care of closing this issue when you change it in the frontend.

API result:
[code]

[2021-04-15 14:46] D063520 opened #56 "strange 404"
check ... third entry https://dev.kohesio.eu/projects?keywords=angola

[2021-04-15 14:48] D063520 commented on #56
is this in the dump of semantic search? https://linkedopendata.eu/entity/Q2511130

[2021-04-15 14:50] madewild commented on #56
Strange, it's a beneficiary and should not be retrivable from project search...

[2021-04-15 14:51] madewild commented on #56
https://linkedopendata.eu/wiki/Item:Q2511130

[2021-04-15 14:51] D063520 commented on #56
we will check if we put it by mistake in the dump we provided .....

[2021-04-16 08:21] dylanjcastillo commented on #56
HI @D063520, I just checked in the dump and it's available there. Here's the data associated with that entry:
<img width="673" alt="image" src="https://user-images.githubusercontent.com/7218756/114994864-86968e80-9e9d-11eb-9c26-9adba9ee2f77.png">

[2021-04-16 08:34] D063520 commented on #56
ok, then we made a mistake .... ahhh yes, I know what happened ... I used the same query that we use to index the data in lucene. And we want to index also the beneficiaries since we need them for the "beneficiary search". Then at query time, we filter out only the projects ..... we will share with you another dump ....

[2021-04-16 08:45] madewild commented on #56
Maybe later we will want semantic search for beneficiary search as well, so let's think if it's easier to continue with the filter at query time or to provide two separate dumps (and then 2 different ES indexes)...

[2021-04-16 08:48] D063520 commented on #56
I think semantic search on the beneficiary is not a good idea .... imagine you search for "ibm" and he returns "google" or "facebook" .... that is really not what the user wants

[2021-04-16 08:49] madewild commented on #56
Yes true, good point!

[2021-04-17 13:58] #56 closed

[2021-05-06 11:08] madewild opened #57 "Paginate projects on beneficiary detail page"
And remove limitation in the max number of projects shown.

[2021-05-12 07:26] madewild opened #58 "Cannot read property 'config' of undefined"
When searching for a term in the Wikibase (both dev and prod), there is this error showing in the console:

VM21:6 Uncaught TypeError: Cannot read property 'config' of undefined
    at HTMLFormElement.<anonymous> (<anonymous>:6:73)
    at HTMLFormElement.dispatch (load.php?lang=en&modules=jquery|jquery.ui&skin=vector&version=11ak3:69)
    at HTMLFormElement.elemData.handle (load.php?lang=en&module

[2021-05-12 07:34] madewild opened #59 "Dev query endpoint pointing to prod URIs"
On https://dev.query.linkedopendata.eu/

The results are like <https://linkedopendata.eu/entity/Q2661210> instead of <https://dev.linkedopendata.eu/entity/Q2661210>

Probably a simple config to adapt...

[2021-05-12 08:16] madewild opened #60 "Keyword search not working on dev"
https://dev.kohesio.eu/projects?keywords=test

[2021-05-12 08:27] madewild opened #61 "Project id not found"
https://dev.kohesio.linkedopendata.eu/api/facet/eu/project?id=https://dev.linkedopendata.eu/entity/Q139379

is giving {"message":"Bad Request - project ID not found"}

the dev backend should accept ids from the dev wikibase

[2021-05-19 21:33] D063520 commented on #58
can you describe this problem more or make a screenshot, I do not understand it ....

[2021-05-20 05:23] madewild commented on #58
Not a real problem per se, but some config parameter seems to be misconfugured when calling load.php :

![config](https://user-images.githubusercontent.com/942488/118923687-3dbe7380-b93c-11eb-8e5e-fe4b3e3acfaa.png)

I tried on Wikidata and this error does not appear...

[2021-05-21 09:24] madewild opened #63 "Don't overwrite labels (e.g. Czechia)"
When hovering over the map on the homepage, it still says "Czech Republic - 46 258 projects"
Should be changed to Czechia as elsewhere

[2021-06-01 08:05] madewild opened #62 "Merge identical NUTS levels"
When some NUTS levels are identical (e.g. for Cyprus), we could decide to merge them in the API so that it's less annoying for the user clicking on the map. But let's be cautious since this could have unfroreseen implications...

[2021-06-01 11:18] #60 closed

[2021-06-01 11:23] D063520 commented on #62
just a note: this should not be to merge the wikibase entities!

[2021-06-01 11:23] #61 closed

[2021-06-01 11:25] #59 closed

[2021-06-01 11:25] madewild commented on #62
Indeed, important to keep them separate in the Wikibase to avoid infinite loops etc. :)

[2021-06-01 19:54] D063520 commented on #62
Useful scheme of Thierry
<img width="654" alt="Screenshot 2021-06-01 at 11 35 39" src="https://user-images.githubusercontent.com/10883585/120382466-f664b980-c323-11eb-8479-8859cf69ab87.png">

[2021-06-01 20:47] D063520 commented on #62
So I implemented this ... basically nuts regions that are annotated as "NUTS statistical only" https://linkedopendata.eu/wiki/Item:Q2727537
 are ignored and skipped. This is for example the case for
https://linkedopendata.eu/wiki/Item:Q241763
, a czech nuts.

I already annotated according to the table above the nuts regions that should only be statistical. So the non necessary nuts are eliminated

[2021-06-01 20:47] #62 closed

[2021-06-03 08:28] D063520 commented on #16
Max for this .... I have a solution that does not require DG Regio ... it is related to this https://github.com/ec-doris/kohesio-backend/issues/62. Basically in the list they want this table:
![](https://user-images.githubusercontent.com/10883585/120382466-f664b980-c323-11eb-8479-8859cf69ab87.png)
Or better the first nuts that are attached to the country that are meaningful for the country. I alre

[2021-06-03 09:04] madewild commented on #16
I think there are several things to consider here:
- the regions in the map are in English (e.g. Piedmont) whereas in the filters they are in local language (e.g. Piemonte)
- sometimes this makes it tricky to find the correspondence: "South Tyrol" on the map vs "Provincia Autonoma di Bolzano/Bozen" in the filters
- when drilling down on "South Italy" on the map, several subregions are missing (Cam

[2021-06-03 09:27] D063520 commented on #16
Yes, with this strategy
- the names in the map and the names in the drop down will be the same
- I know there is some empty places on the map, it's a bug, I'm trying to fix it
I think it should address everything. I will wait until raph is active again, because we need to port the change also in the front-end....

[2021-06-03 09:41] madewild commented on #16
great, go ahead then!

[2021-06-21 09:13] D063520 commented on #16
I addressed this issue. Can you check if it is fine Max? If you want we can chat, it is easier to explain by voice what I did ....

[2021-06-21 11:15] #16 closed

[2021-06-22 12:53] madewild opened #64 "Create a test environment"
to feed test.kohesio.eu

[2021-07-06 08:23] madewild opened #65 "Missing intervention fields in dropdown"
Now we have the structure in dev but the high-level categories in bold are replacing some real categories!
For instance 005 is missing, then 049, 056...
![if](https://user-images.githubusercontent.com/942488/124567362-38fa4400-de44-11eb-9160-a42482d50f3a.png)

[2021-07-06 08:28] madewild commented on #63
so @D063520 basically we cannot really fix this in a clean way while the Wikidata label "Czech Republic"?
if that's the case we can close for now

[2021-07-06 08:29] madewild commented on #57
@D063520 still in the scope for Monday or to be postponed?

[2021-07-06 08:29] raphdom opened #66 "Country code null on beneficiaries list"
Sometimes we have a country code null in the beneficiaries list

![image](https://user-images.githubusercontent.com/5124917/124568313-11f04200-de45-11eb-8b7b-e68ad31e8d6d.png)

[2021-07-06 08:32] madewild commented on #66
I see this beneficiary (https://linkedopendata.eu/wiki/Item:Q2532515) has been merged into https://linkedopendata.eu/wiki/Item:Q1090
so I guess it should be removed from the list

[2021-07-06 08:39] #65 closed

[2021-07-06 08:42] D063520 commented on #63
Hola, so it is possible but not super easy .... please let it open ...

[2021-07-06 08:45] madewild commented on #63
ok, postponed then

[2021-07-06 09:00] D063520 commented on #66
We should not remove it .... we should attach the projects to beneficary Q1090 instead of Q2532515 .... need to make a script for this ...

[2021-07-06 09:03] D063520 commented on #66
there are exactly 103 such cases ...

https://query.linkedopendata.eu/#select%20%2a%20where%20%7B%0A%20%20%3Fs1%20%20%3Chttps%3A%2F%2Flinkedopendata.eu%2Fprop%2Fdirect%2FP35%3E%20%20%3Chttps%3A%2F%2Flinkedopendata.eu%2Fentity%2FQ9934%3E%20.%0A%20%20%3Fs1%20%20%3Chttps%3A%2F%2Flinkedopendata.eu%2Fprop%2Fdirect%2FP889%3E%20%20%3Fo2%20.%20%0A%20%20%3Fo2%20owl%3AsameAs%20%3Fo%20.%20%20%20%20%20%0A%7D

[2021-07-06 09:14] D063520 commented on #66
ok, the script run through ... we can check tomorrow after reindexing ....

[2021-07-07 08:33] madewild opened #67 "Unprecise regionText for Greek projects"
https://dev.kohesio.eu/projects/Q2814985 says "In Greece" over the map
The API sends "regionText":"Greece" but it should be "regionText":"Κεντρική Μακεδονία, Greece" or similar (not sure if we include "Northern Greece" as it's statistical only)
it's correct on https://linkedopendata.eu/wiki/Item:Q2814985

[2021-07-08 05:57] madewild commented on #66
@raphdom do you still see such cases or can we close?

[2021-07-08 06:19] raphdom commented on #66
everything is fine now, we can close it

[2021-07-08 06:19] #66 closed

[2021-07-08 06:20] madewild opened #68 "Beneficiary name not displayed"
I found a special case:
![lu_eib](https://user-images.githubusercontent.com/942488/124871453-5c4bfd00-dfc4-11eb-8a01-16ec3f0d4ae7.png)

This is a beneficiary from Luxembourg so my guess is that's it's the European Investment Fund (https://linkedopendata.eu/wiki/Item:Q2531883). Since it does not have any label in Luxembourgish, no label is displayed an we cannot even click on it!
And even if we had

[2021-07-08 06:27] madewild commented on #68
This comes from 3 projects in Poland: https://query.linkedopendata.eu/#select%20%2a%20where%20%7B%0A%20%3Fs%20wdt%3AP35%20wd%3AQ9934%20.%0A%20%7B%3Fs%20wdt%3AP889%20wd%3AQ2531883%7D%20UNION%20%7B%3Fs%20wdt%3AP889%20wd%3AQ3067%7D%0A%7D

[2021-07-08 08:42] D063520 commented on #67
I did not check ... but I'm pretty sure the problem is that for greece we do not have nuts 3, but only nuts 2 .....

[2021-07-08 15:37] AlyHdr commented on #67
This should be fine now you can check the project that @madewild pointed out: https://dev.kohesio.eu/projects/Q2814985

[2021-07-08 20:26] #67 closed

[2021-07-09 09:54] D063520 opened #69 "Remove statistical NUTS from georgraphic localization in the project view"

[2021-07-09 10:08] madewild opened #70 "Synchronise the (DEV) QA sparql endpoint more frequently"
Currently I use the dev QA endpoint for Italy in the translate bot:

[code]

However, if I rerun the translation it still says 5054 are missing although they have just been translated...

[2021-07-09 11:22] #68 closed

[2021-07-09 11:39] madewild commented on #68
Excellent: https://dev.kohesio.eu/beneficiaries/Q2531883 !

[2021-07-12 09:11] AThollard opened #71 "Location not interpreted for 1 Cyprus project"
https://dev.kohesio.eu/projects/Q2720760
Location string in greek characteres in the project detail

[2021-07-12 11:05] #71 closed

[2021-07-14 09:29] madewild opened #72 "Allow to filter beneficiaries by public/private"
It's in the wikibase but not exposed in the API.
Then move the issue to UI for Raph

[2021-09-23 17:32] madewild commented on #30
@AlyHdr we have some strange results
https://dev.kohesio.eu/projects?keywords=ai
the first results are OK but at the bottom of the page, nothing matches ai or extended keywords...

[2021-09-23 17:33] madewild commented on #30
Even with quotes (exact search) it fails: https://dev.kohesio.eu/projects?keywords=%22ai%22

[2021-09-23 17:36] D063520 commented on #30
It comes from the other languages ... you remember that they wanted that we search over all languages in the case there is something wrongly translated ... this is a side effect ... we can discuss it tomorrow. On option is to just index in english

https://linkedopendata.eu/wiki/Item:Q1966554

BAKERY AGENT

ADDETTO AI PRODOTTI DA FORNO

[2021-09-23 17:54] madewild commented on #30
Oh, I wouldn't have guessed! Alright, let's discuss tomorrow.

[2021-09-23 18:00] madewild commented on #30
Just an idea: would it be difficult to search over all languages ONLY when using quotes?

[2021-09-23 18:03] madewild commented on #72
@AlyHdr this could be a quick win, it's at the same level as the beneficiary per fund you just created...

[2021-09-23 18:04] madewild commented on #69
@AlyHdr what's the status of this?

[2021-09-24 09:34] madewild commented on #30
@AlyHdr : index only EN, remove other languages

[2021-09-24 09:38] madewild opened #73 "Aggregate by fund: handle multifund project"
Some projects are multifunds and we don't know the breakdown by fund.
@roberto-musmeci can you provide examples?
How do we handle them in the fund aggregates? Show as "other funds" or separate categaory "multifunds"?

[2021-09-24 09:47] madewild opened #74 "Improve gensim model"
On https://dev.kohesio.eu/projects?keywords=ai we have a strange expanded keyword "( ai )-"
Also "artificial intelligent" is strange
Can we tweak the model to remove this noise?

[2021-09-24 11:38] AlyHdr commented on #72
On this we need some specific query from the SPARQL endpoint which has for now only the truthy statements from the wikibase. So basically we still don't have this probably for the next release..

[2021-09-24 11:40] madewild commented on #72
Yes, I realised and already moved to v0.9 :)

[2021-09-27 07:08] faustusdotbe commented on #74
Try this:
- Get larger, existing model
- Specialise on our data (or not)
- Test

[2021-09-27 08:17] roberto-musmeci opened #75 "Semantic Search (Trim function)"
Hi guys,

just noticed that if the keyword is preceded by a black space, the search is no giving back any result.
Maybe we could add a sort of trim function on the keyword so to remove all non trailing spaces.
I leave it to you to see if and when we want to tackle this.

![image](https://user-images.githubusercontent.com/86654885/134870287-9c294d59-1308-421b-9091-548d316eafc3.png)

[2021-09-27 08:21] madewild commented on #75
https://dev.kohesio.eu/projects?keywords=%20reducing%20coastal%20erosion

[2021-09-27 08:23] madewild commented on #75
Trailing spaces are not causing this issue (see https://dev.kohesio.eu/projects?keywords=reducing%20coastal%20erosion%20), only leading spaces.

[2021-09-27 08:31] AlyHdr commented on #75
It should be fixed. Let me know if there are other problems like this.

[2021-09-27 08:35] #75 closed

[2021-09-27 12:25] madewild commented on #69
The issue can be seen here for instance: https://dev.kohesio.eu/projects/Q2721362
Cyprus is listed 3 times in a row.

[2021-09-27 15:25] #69 closed

[2021-09-28 08:09] madewild opened #76 "Index EN only for search engine"
@AlyHdr : index only EN, remove other languages

_Originally posted by @madewild in https://github.com/ec-doris/kohesio-backend/issues/30#issuecomment-926487650_

[2021-09-28 08:09] #30 closed

[2021-09-28 08:17] AlyHdr commented on #76
@D063520 We need to change the query for the Lucene index.

[2021-09-28 08:28] madewild commented on #74
cf. https://github.com/ec-doris/kohesio-search/issues/5
guesthouse is OOV in h2020
words similar to "health" do not include "medical" nor "medicine", see https://similarity.cnect.eu/

[2021-09-28 08:32] D063520 commented on #76
Sorry, I forgot about this. I changed it, but it will be ready only from tomorrow ....

[2021-09-28 08:32] madewild commented on #76
Perfect, as long as it's ready for Thursday's merge. :)

[2021-09-28 14:30] madewild opened #77 "Return all geometries"
https://dev.kohesio.eu/projects/Q86132

[2021-09-28 14:38] madewild commented on #77
+ change label over map

[2021-09-28 15:24] AlyHdr commented on #77
The API returns a list of geoJson and the coordinates, the label is now "regionText": "In multiple locations, Poland".

https://dev.kohesio.linkedopendata.eu/api/facet/eu/project?id=https://linkedopendata.eu/entity/Q86132

[2021-09-28 15:53] madewild commented on #77
Oops, this is a breaking change so all project detail pages return a 404 now!!
We need @raphdom to fix this on the UI unless you revert...

[2021-09-29 06:31] #76 closed

[2021-09-29 08:23] madewild opened #78 "Keyword search limited to 5000 results"
For instance: https://dev.kohesio.eu/projects?keywords=great

This is linked to the performance issues of the semantic search? Annoying because then the map is not representative of the overall situation...

[2021-09-29 08:36] madewild commented on #77
@AlyHdr sorry the regionText should just be "multiple locations, Poland" because now we have a double "in"!
https://dev.kohesio.eu/projects/Q86132

[2021-09-29 08:51] AlyHdr commented on #77
This is working!

[2021-09-29 08:52] #77 closed

[2021-10-21 13:15] madewild opened #82 "QA: query projects by policy objective"
https://qa.linkedopendata.eu/qa/full?chunks=%5B%7B%22type%22%3A%22textzone%22%2C%22text%22%3A%22kohesio%C2%A0projects%C2%A0about%22%7D%2C%7B%22type%22%3A%22concept%22%2C%22img%22%3A%22%22%2C%22title%22%3A%22green%20and%20carbon%20free%20europe%22%2C%22uri%22%3A%22https%3A%2F%2Flinkedopendata.eu%2Fentity%2FQ2547987%22%7D%2C%7B%22type%22%3A%22textzone%22%2C%22text%22%3A%22%22%7D%5D&tags=%5B%5D&lang=

[2021-11-25 09:44] madewild opened #83 "Wrong "multiple locations""
On https://kohesio.eu/projects/Q3102435 it says "In multiple locations, Luxembourg" (also in the api response).
But https://linkedopendata.eu/wiki/Item:Q3102435 only has a single location...

[2021-11-25 14:49] AlyHdr commented on #83
It's fixed on dev now: https://dev.kohesio.eu/projects/Q3102435, we can merge it with prod if you want or wait for the next iteration.

[2021-11-25 14:50] madewild commented on #83
thx, it can wait for the merge

[2021-11-25 14:50] #83 closed

[2021-11-29 14:39] madewild opened #84 "Move prod backend to new server"
EC2 already provisioned
Separate from wikibase

[2021-11-30 14:17] madewild commented on #64
linked to https://github.com/ec-doris/kohesio.eu/issues/95
will be solved in EKS

[2021-11-30 14:46] madewild commented on #72
@AlyHdr are you ready for this?
@raphdom is waiting for this to implement https://github.com/ec-doris/kohesio.eu/issues/258

[2021-11-30 15:33] madewild opened #85 "Send multiple categoryLabel and objectiveLabel"
https://linkedopendata.eu/wiki/Item:Q9779 has two intervention fields

but https://dev.kohesio.linkedopendata.eu/api/facet/eu/project?id=https://linkedopendata.eu/entity/Q9779 only retrieves one ("categoryLabel":"Research and innovation processes in SMEs (including voucher schemes, process, design, service and social innovation)") we should allow several to display in the UI (cf. https://github.co

[2021-11-30 17:47] D063520 commented on #85
@AlyHdr @DiaZork could you check this together please so that Jonathan learns what is going on ...

[2021-12-02 09:32] AlyHdr commented on #84
The CI/CD pipeline is ready and the backend is working on the new machine, we just need to configure the DNS configs to point to the new machine.

[2021-12-02 09:56] madewild commented on #84
DNS changed, closing!

[2021-12-02 09:56] #84 closed

[2021-12-02 10:06] AlyHdr commented on #72
This was implemented since some time now, however it's not working because we are not using the wikibase endpoint. We will try to index all statements from the wikibase, will update you on this once we have the full index.

[2021-12-02 10:32] madewild commented on #78
Increasing leads to performance issues but currently the maps and filters are misleading... Need to think about it.

[2021-12-02 10:48] madewild commented on #78
For instance https://dev.kohesio.eu/projects?keywords=%22road%22&country=Sweden gives only 6 results
But we have at least 37: https://query.linkedopendata.eu/#select%20DISTINCT%20%3Fproject%20where%20%7B%0A%20%20%20%20%3Fproject%20%3Chttps%3A%2F%2Flinkedopendata.eu%2Fprop%2Fdirect%2FP35%3E%20%3Chttps%3A%2F%2Flinkedopendata.eu%2Fentity%2FQ9934%3E%20.%0A%20%20%20%20%3Fproject%20%3Chttps%3A%2F%2Flink

[2021-12-02 10:51] madewild commented on #78
The 5000 limit is configured in the SPARQL endpoint for the lucene part
@D063520 @DiaZork @svili any idea how we could overcome this limitation without sacrificing performance too much?

[2021-12-02 11:06] AlyHdr commented on #85
This is implemented, now we have lists (categoryLabels, objectiveLabels and objectiveIds):
https://dev.kohesio.linkedopendata.eu/api/facet/eu/project?id=https://linkedopendata.eu/entity/Q9779

This can move to  ec-doris/kohesio.eu#256. @raphdom

[2021-12-02 11:08] #85 closed

[2021-12-06 08:42] D063520 commented on #72
@AlyHdr I remember that the problem was that the reefied statements are not there ... this is not the case anymore

[2021-12-06 09:21] AlyHdr commented on #72
Yes the filter is done by passing beneficiaryType={public or private}, example:

https://dev.kohesio.linkedopendata.eu/api/facet/eu/search/beneficiaries?offset=0&limit=15&country=https://linkedopendata.eu/entity/Q25&beneficiaryType=private

[2021-12-06 09:23] madewild commented on #72
Excellent, so this is working on the backend side and can move forward to the UI, right?

[2021-12-06 09:46] #72 closed

[2021-12-07 08:05] madewild commented on #74
@faustusdotbe what is the status of this? still in line for next release (10 days left!) or to postpone to January?

[2021-12-07 08:05] madewild commented on #73
@roberto-musmeci we are still missing some examples... I propose to postpone this issue.

[2021-12-07 08:07] madewild commented on #82
@D063520 did you make progress on this? still in line for this release or to postpone?

[2021-12-07 08:12] faustusdotbe commented on #74
Ah sorry -- we actually discussed this with Roberto last week. The model is trained and available at s3://doris-word2vec, namely `wiki_300_5_word2vec_SP-kohesio.kv.model` and the vectors `wiki_300_5_word2vec_SP-kohesio.kv.model.vectors.npy`.

Note that this is a `KeyedVectors` model --  much faster than the `Word2Vec` -- and using it will require light code editing (`m = gensim.models.KeyedVectors

[2021-12-07 08:15] madewild commented on #74
OK nice
I think @D063520 and @AlyHdr are calling directly the https://similarity.cnect.eu/ service, can you confirm?
@faustusdotbe then it would require modifying https://github.com/ec-doris/doris-similarity to allow querying this model (with a special parameter) while ensuring backward compatibility with older (non-KeyedVectors) models...

[2021-12-08 08:51] faustusdotbe commented on #74
@AlyHdr @D063520

This is now fixed (https://github.com/ec-doris/doris-similarity/commit/f4bb2157d4782cf947b0162ea883ba457445bd2d). You can query the different models in eg Python like so, with `$model_name` being either `h2020` or `kohesio`. If nothing is specified, it defaults to `h2020`.

[code]

Note that the `kohesio` model is a very large model trained on EN wikipedia and finetuned on Kohesi

[2021-12-10 13:03] madewild opened #86 "Investigate using S3 for dumps and/or index"
I would suggest:

- dump the data on the wikibase machine through the PHP API
- instead of using scp, upload the dump on S3 using boto3
- when the file is on S3, it triggers an action (lambda or other) creating a temporary server with large specs (in the EKS cluster?)
- the temp server pulls the dump from S3, computes the index, then sends the index to S3 and deletes the dump
- finally the index c

[2021-12-10 13:08] raphdom commented on #86
- the temp server pulls the dump from S3, computes the index, then sends the index to S3 and deletes the dump

Here I can say that instead of sending again to s3 we can mount in a EBS volume that could be accessible from the Java Qanswer app to use the index directly.

[2021-12-10 13:24] madewild opened #87 "Move exports to S3"
Currently all the exports are sitting on an EBS volume:

https://data.linkedopendata.eu/kohesio/projects/
https://dev.data.linkedopendata.eu/kohesio/projects/

It would be better to put them on S3 but we want to keep a neutral URL, not use containing "aws" or "s3".
For instance the latest export of Austria should always be on https://data.linkedopendata.eu/kohesio/projects/latest_AT.csv
(or maybe

[2021-12-10 14:22] madewild opened #88 "Expose Kohesio query endpoints"
Currently https://query.linkedopendata.eu/ is the only endpoint we can query from the browser.
Following the logic of separation, when we have the new url we should create:

https://query.kohesio.ec.europa.eu to query the prod index
https://dev.query.kohesio.ec.europa.eu to query the dev index

While of course keeping the live endpoint of Wikibase. :)

[2021-12-10 14:22] madewild commented on #88
Will also help with the "edit graph" button and the problem we had for France...

[2021-12-12 19:45] D063520 opened #89 "point api seams to be broken"
<img width="1680" alt="Screenshot 2021-12-12 at 20 44 06" src="https://user-images.githubusercontent.com/10883585/145727108-51882805-ea7e-4bc3-ab24-b5ea3118a38f.png">

[2021-12-12 19:46] D063520 commented on #89
to check in the morning, maybe it was becasue the sparql endpoint started indexing

[2021-12-13 08:03] madewild commented on #89
I don't see any problem, the indexing started at the time you posted but now all is fine.

[2021-12-13 08:03] #89 closed

[2021-12-14 10:10] D063520 commented on #57
@madewild : this can be passed to the front-end

[2021-12-17 10:48] madewild commented on #74
@faustusdotbe I searched "health" with the new model on https://similarity.cnect.eu/# and the results are not so great...

[2021-12-17 11:01] faustusdotbe commented on #74
Looks like the Kohesio data introduced issues :

[code]

I'll retrain with fewer epochs on Kohesio data and see if it fixes it. Do we have a list of words that we **need** to be correct? For now I have those below, to which I add `health`.  It would be helpful in case several iterations are needed.

[code]

[2021-12-17 11:07] madewild commented on #74
@roberto-musmeci could you provide a few good words to help testing the model?

[2021-12-17 11:12] faustusdotbe commented on #74
It's quite tricky of course as, e.g., specialising on kohesio does help with "ai":

[code]

(Results in vanilla wiki refer to Japanese rock band [Sambomaster](https://en.wikipedia.org/wiki/Sambomaster), with song _Sekai wa sore **Ai** to Yobunda ze_ which apparently is the theme song of anime Naruto... )

[2021-12-17 11:19] roberto-musmeci commented on #74
Just to understand guys, would you like to have a list of words that works or that do not work in the current Kohesio model?

[2021-12-17 11:21] madewild commented on #74
some that SHOULD work ;)
just some interesting words that people are likely to use...

[2021-12-17 11:23] faustusdotbe commented on #74
Ideally, a list of words that are very important to Kohesio as a whole and for which synonyms **must** be correct in vector space. I was thinking of your `rehabilitation` example for example. _Ideally_, if you can provide some synonyms you expect for interesting words, that would be perfect:

eg:
`ai` must/should be in the neighbourhood of `artificial_intelligence`, `machine_learning`, etc.
`5g` m

[2021-12-17 11:42] madewild opened #91 "Lucene search is giving precedence to small texts"
But longer labels/summaries are better to show :)

[2021-12-17 11:45] madewild commented on #91
Maybe we need to tweak the default (TF/IDF?) ranking algo a bit... to discuss in January.

[2021-12-17 11:46] roberto-musmeci commented on #74
Ok, perfect. @faustusdotbe do you have already a list of the most recurring english words in the Kohesio corpus ? Otherwise I'll create it and start off from there

[2021-12-17 11:56] faustusdotbe commented on #74
The counter is running, I'll update this comment with the file and ping you once it's done :-)

[2021-12-17 12:03] roberto-musmeci commented on #74
I write some suggestions here and keep expanding over time

_**Transportation:**_
bridge, tram, tramway, railway, highway, road, micro_mobility, green_mobility, railway station, terminal, bus, bikes, bike,  sharing, tunnel

_**Technology:**_
ai, machine learning, data science, quantum computing, research and development, smart grid, district heating, electricity grid, broadband, wi-fi, ITC,

_**In

[2021-12-17 12:26] faustusdotbe commented on #74
@roberto-musmeci
[kohesio_counts_min100.csv](https://github.com/ec-doris/kohesio-backend/files/7735042/kohesio_counts_min100.csv)

Here's a tab-separated CSV, minimum frequency threshold is 100

[2021-12-17 14:09] roberto-musmeci commented on #74
It would be interesting to have a matrix count of words by country.
It seems that certain words are used more frequently in one country or programs and tend to have a more specific meaning in that context. The word `animation` in french is more a synonim to `launching something (e.g. an initiatve/project)`.

[2021-12-17 14:13] faustusdotbe commented on #74
I can make this, but I wonder whether our assumptions about language will hold given everything is machine-translated.

[2021-12-20 10:27] madewild opened #92 "Missing Slovene beneficiary names"
![slovenia](https://user-images.githubusercontent.com/942488/146752662-50796c93-f405-4654-a5f0-6ff0551a96f7.png)

[2021-12-20 11:57] AlyHdr commented on #92
This is fixed now but I found out that there are other countries like Lithuania and Finland.. Lithunia is good now as well, however in Finland upon import we took the language code of the spoken language like so:

https://query.linkedopendata.eu/#select%20%20%2a%20where%20%7B%0A%20%20%20%20%20%20%20%20%20%20values%20%3Fcountry%20%7B%20wd%3AQ10%20%7D%0A%20%20%20%20%20%20%20%20%20%20%3Fcountry%20wdt

[2021-12-21 11:14] AlyHdr commented on #92
Finnish beneficiaries appear now:
https://dev.kohesio.eu/beneficiaries?country=Finland

[2021-12-21 11:14] #92 closed

[2021-12-21 14:49] faustusdotbe commented on #74
Should be fixed now, please reopen if issues arise.

[2021-12-22 08:58] roberto-musmeci opened #93 "Beneficiary fiche does not display beneficiary name"
Hi guys, I noticed that in Lithuania the beneficiary fiche does not display beneficiary name.
 In general, data from Lithuania are partial but beneficiary information are present.

I am not sure if this is a front end or backend problem, but I can't check the latter because dev is down :(

https://kohesio.eu/beneficiaries/Q3818845

![image](https://user-images.githubusercontent.com/86654885/147065

[2021-12-22 09:01] madewild commented on #93
I'm pretty sure it's linked to #92
@AlyHdr can you have a look?

[2021-12-22 09:13] roberto-musmeci opened #94 "Sweden ERDF projects"
Kohesio.eu
I noticed that if you search for ERDF projects and show the map, Sweden is in grey altough it has ERDF projects. (see screenshot 1)

If you then select Sweden in the country filter, projects are shown (see screenshot 2)

------
Screenshot 1

![image](https://user-images.githubusercontent.com/86654885/147067346-a51637b6-8a3e-4eac-a234-7cb48b380fb7.png)

------
Screenshot 2

![image](http

[2021-12-22 09:19] madewild commented on #94
Very strange... @AlyHdr can you investigate what is happening?

[2021-12-22 10:12] AlyHdr commented on #93
This should be fixed on DEV, we can test once the index is available

[2021-12-22 11:55] D063520 commented on #94
very strange ... I clean the cache file for that query and now it works ..... maybe some old cache file ....

[2021-12-22 11:55] #94 closed

[2021-12-23 09:34] AlyHdr commented on #93
Label is appearing now: https://dev.kohesio.eu/beneficiaries/Q3818845

[2021-12-23 09:34] #93 closed

[2022-01-05 10:52] madewild opened #95 "Expose info regio website"
https://linkedopendata.eu/wiki/Property:P1742 for all projects concerned

[2022-01-05 11:09] D063520 commented on #88
Open qanswer sparql endpoint ..... with UI

[2022-01-05 11:12] madewild commented on #73
@roberto-musmeci any input? :)

[2022-01-11 12:21] madewild commented on #78
@svili this is more long term but when you have time could you look into this? no easy way out but it would be important to improve the current situation at least a bit...

one idea would be to load the geo info of all projects in the background and continue computing the map while the 15 top paginated results are already displayed, but not sure how this would play with the UI

[2022-01-11 12:22] madewild commented on #74
https://kohesio.eu/projects?keywords=youth seems strange... reopening just in case if there is a fix ;)

[2022-01-11 12:29] madewild commented on #74
this seems related to the overwhelming number of small Italian projects...
for instance https://kohesio.eu/projects?keywords=%22it%20lasts%206%20months%22
maybe when we have cleaned out Italy we should retrain the gensim model

[2022-01-21 13:59] roberto-musmeci commented on #74
The case of 'renewable' is also to be further investigated later on.
In this case, it seems related a number of French projects.
https://dev.kohesio.eu/projects?keywords=renewable

![image](https://user-images.githubusercontent.com/86654885/150539440-f22f3ded-1555-48aa-8a40-2cfbdcad47aa.png)

[2022-01-21 16:09] D063520 commented on #95
Expose in this api the key programInfoRegio:
<img width="685" alt="Screenshot 2022-01-21 at 17 08 54" src="https://user-images.githubusercontent.com/10883585/150560606-11550bf5-a328-4e08-aac5-b63c72879727.png">

[2022-01-21 16:10] D063520 commented on #95
Expose in the same API the key websiteInfoRegio to expose the link to info regio of the project

[2022-01-25 14:49] D063520 commented on #95
Note: the projects with infoRegioUrl not null are featured projects! Suggestion: adapt the style with red star:
<img width="1054" alt="Screenshot 2022-01-25 at 15 49 06" src="https://user-images.githubusercontent.com/10883585/150999311-4c6d1d12-2bbd-45c7-aa01-84ac78633741.png">

[2022-01-25 14:54] DiaZork commented on #95
The infoRegio Url (https://linkedopendata.eu/prop/direct/P1742) are exposed as infoRegioUrl for the project and programInfoRegioUrl at https://dev.kohesio.linkedopendata.eu/api/facet/eu/project

An exemple :
https://dev.kohesio.linkedopendata.eu/api/facet/eu/project?id=https://linkedopendata.eu/entity/Q139379

[2022-01-25 14:56] D063520 commented on #95
@madewild: you can move this to the front-end ....

[2022-01-26 06:37] madewild opened #96 "Add transliteration to beneficiary detail page api"
Currently we already have the transliteration on https://dev.kohesio.linkedopendata.eu/api/facet/eu/search/beneficiaries?offset=0&limit=15&country=https://linkedopendata.eu/entity/Q31

But we would also need it on https://dev.kohesio.linkedopendata.eu/api/facet/eu/beneficiary?id=https://linkedopendata.eu/entity/Q2748683 for instance (only once for the beneficiary, not for every project!)

@DiaZork

[2022-01-27 15:00] madewild opened #97 "Project sort not properly cached"
Sorting dies with 500 when done on all projects

[2022-01-27 16:01] madewild opened #98 "Beneficiary sort is slow"
still this is slow:

https://dev.kohesio.eu/beneficiaries?sort=Number-of-Projects-(descending)

we need to look into it .... pagination also does not work there ....

_Originally posted by @D063520 in https://github.com/ec-doris/kohesio.eu/issues/282#issuecomment-1023364516_

[2022-01-27 20:51] madewild opened #99 "Transliteration should not appear if English label displayed"
There is a minor issue for Cyprus that should be fixed in the backend, some transliterations are displayed although the name is en English: https://dev.kohesio.eu/beneficiaries?country=Cyprus
![cy_translit](https://user-images.githubusercontent.com/942488/151441380-d512fc52-8d9f-4506-9f62-91ed686a5e05.png)

_Originally posted by @madewild in https://github.com/ec-doris/kohesio.eu/issues/299#issuec

[2022-01-27 20:51] madewild commented on #99
@DiaZork we should adapt the sparql query a bit...

[2022-01-28 12:30] madewild commented on #64
This is almost there, closing.

[2022-01-28 12:30] #64 closed

[2022-01-28 12:50] madewild commented on #91
Temporary solution (already implemented) is filtering by budget, to be improved later...

[2022-01-28 12:51] madewild commented on #70
Fixed by new endpoint.

[2022-01-28 12:51] #70 closed

[2022-01-28 13:35] madewild commented on #73
We could need some examples of such projects...

[2022-01-28 14:04] madewild commented on #87
@svili what's the status of this inside the cluster?

[2022-01-28 14:05] madewild commented on #86
@svili and where do we stand with this?

[2022-01-28 14:09] roberto-musmeci commented on #73
So the rational is the following.
The CCI Code is composed by
YEAR + CC(country code)+  DG(lead DG) + FF(fund) + TP(type of program) + SEQ(sequential number)
eg. 2014 BE 16 RF OP 001

Therefore a CCI code contains "M" at character position 9 it means that program is multi-fund. The number following the "M" specified which funds fianances that Program (see table below).

Sometimes, the list of oper

[2022-01-28 14:19] svili commented on #86
We did this for the deployment with @raphdom
The cronjob on the wikibase machine sends the index and the dumps daily to kohesio-index bucket.
The reindexing on the dev is done daily by @raphdom-s indexing workflow. It has been working for weeks now as far as I know.
The only thing left to do is maybe integrate my POC of nginx-s3-proxy to the architecture. Its basically just another very low weight

[2022-01-28 14:20] madewild commented on #73
For M3 programmes like https://linkedopendata.eu/wiki/Item:Q2463136, the 3 funds are already encoded at programme-level so that's a start. They were just not materialized at project level.

[2022-01-28 14:21] madewild commented on #86
OK that's the other issue #87 so closing this one.

[2022-01-28 14:21] #86 closed

[2022-01-28 14:26] madewild commented on #73
Currently we have these CCIs concerned:

id | CCI
-- | --
1 | 2014PL16M1OP001
2 | 2014PL16CFTA001
3 | 2014EE16M3OP001
4 | 2014SK05M0OP001
5 | 2014SK16RFTA001
6 | 2014FR05SFOP001
7 | 2014FR05M9OP001
8 | 2014FR16M0OP001
9 | 2014FR05M0OP001
10 | 2014FR16M2OP012
11 | 2014FR05SFOP005
12 | 2014FR05M2OP001
13 | 2014FR05SFOP003
14 | 2014FR05SFOP004
15 | 2014FR16M0OP005
16 | 2014FR16M2TA001
17 | 2014HU16M1

[2022-01-28 14:34] madewild commented on #73
Better with some stats about the number of projects involved:

id | CCI | projects
-- | -- | --
1 | 2014FR05SFOP001 | 7093
2 | 2014IT05M9OP001 | 2375
3 | 2014HU16M1OP001 | 1401
4 | 2014FR05M9OP001 | 617
5 | 2014FR16M0OP005 | 557
6 | 2014PL16M1OP001 | 319
7 | 2014FR05SFOP005 | 252
8 | 2014FR05M2OP001 | 165
9 | 2014FR16M2TA001 | 102
10 | 2014FR05SFOP003 | 95
11 | 2014HU16M1OP003 | 91
12 | 2014FR05SF

[2022-01-28 14:38] madewild commented on #73
Adapted query for reference:

[code]

Run on https://dev.qa.linkedopendata.eu/user/endpoint?kb=eu&user=commission to avoid timeout

[2022-01-28 14:39] svili commented on #87
It was only a POC so far, but if @raphdom says ok, I'll add the nginx-s3-proxy to the cluster next week.

[2022-01-28 15:05] D063520 commented on #73
Can you concretizize the discussion into a concrete task?  What exaclty should we do? Basically this:

ERDF-ESF - 1000 EUR.

?

[2022-01-29 06:22] madewild commented on #73
I think we should:
1. Materialize the funds at project level whenever available at programme level
2. Adapt the backend to allow multiple funds rather than just one
3. Find an acceptable way to display this in the frontend
I can coordinate this.

[2022-01-29 06:52] madewild commented on #73
Just to clarify, on the project detail page (e.g. https://dev.kohesio.eu/projects/Q3068676) we currently have:

Fund: n/a
[...]
Total budget: 195 776,93 €
Funded by EU: 166 410,40 € (85%)

It's not planned to have a breakdown by fund like for the beneficiaries... So the scope would be to just list the multiple funds under Fund instead of n/a, right? I think there is a confusion with the beneficiar

[2022-01-29 08:38] D063520 commented on #73
So basically the idea is on the project page to infer the fund from the program when it is not directly available. Is this right?

[2022-01-29 09:10] madewild commented on #73
I know, what I say is: for most projets the fund is directly available on the project, but for some we have only the programme and we have to jump to the programme to know the fund. So yes we could infer the fund by making the extra jump, but since most projects have already this info why not instead materialize the fund info (deduced from the programme) for the ~ 10.000 projects above? I can hand

[2022-01-29 09:13] madewild commented on #73
Or: we remove the funds from all projects, keep them only at programme level and change the backend to look always at programme level (but if we did otherwise I guess it was for performance reasons?)

[2022-01-29 14:21] D063520 commented on #73
wait wait ..... if a project is in a program in does not mean that it is in the funds of the program. If there is only one fund then yes. But for multi-fund programs, a project is generally in one of the funds. Not in all. So if it is not declared by the managing authority, we cannot infer that knowledge in most of the cases .....

[2022-01-29 17:21] #97 closed

[2022-01-30 07:12] madewild commented on #73
OK, so when the fund is on the project, it means it was provided by the MA and so it takes precedence on the fund(s) mentioned in the programme. Then yes maybe we can fallback on the programme only when we don't have explicit info at project level.

[2022-01-31 11:19] madewild opened #100 "Empty point"
https://dev.kohesio.linkedopendata.eu/api/facet/eu/search/project/map/point?coordinate=2.3619618733359,48.79389532427 is empty

![empty](https://user-images.githubusercontent.com/942488/151784867-e2f4e507-9ebd-49b8-955c-b488d15f3784.png)

[2022-01-31 11:36] madewild commented on #73
I discussed with @roberto-musmeci and for him we can materialize the info from the programme if not available directly.
So for https://linkedopendata.eu/wiki/Item:Q3068676 instead of having no funds we could materialize the 3 funds available on the programme https://linkedopendata.eu/wiki/Item:Q2463136

I propose to:
1. tackle the projects that are in an RF/SF/CF programme where the fund info is u

[2022-01-31 12:04] D063520 commented on #73
@roberto-musmeci: are you sure? I remember Thierry was against this ..... it breaks the policy that we try not to change the original data ..... we cannot revert this also, i.e. it will not be easy to remove the once we inferred. This will be written in the history, but we cannot query this information via SPARQL. So once it is done, there is no way back .....

[2022-01-31 12:11] roberto-musmeci commented on #73
Thanks @D063520. Let me discuss it with Anne. Maybe I am missing the point

[2022-01-31 12:15] D063520 commented on #73
The main problem is that a multi-fund program is mixing funds (fund A,B,C). But without the managing authority telling, we do not know from the project to which fund it is belonging (fund A or B or C or several). I'm not 100% sure, but I think it is like this.

[2022-01-31 12:20] madewild commented on #73
OK I will already work on the single-funds programmes in the meantime

[2022-01-31 12:33] madewild commented on #73
@D063520: we could add a qualifier "method of determination" for the ones deduced from the programmes, in that way it would be easier to revert if needed...

[2022-01-31 14:14] D063520 commented on #73
yes true, this is an option

[2022-01-31 14:41] madewild commented on #73
Here's an update:

id | CCI | projects
-- | -- | --
1 | 2014IT05M9OP001 | 20181
2 | 2014FR05SFOP001 | 3009
3 | 2014HU16M1OP001 | 1401
4 | 2014FR05M9OP001 | 617
5 | 2014FR16M0OP005 | 557
6 | 2014PL16M1OP001 | 319
7 | 2014FR05M2OP001 | 165
8 | 2014FR16M2TA001 | 102
9 | 2014HU16M1OP003 | 91
10 | 2014FR16M0OP001 | 78
11 | 2014FR16M2OP012 | 51
12 | 2014EE16M3OP001 | 23
13 | 2014HU05M3OP001 | 16
14 | 20

[2022-01-31 14:47] roberto-musmeci commented on #73
For the M#, Anne also prefers leaving the mention "n/a" exactly for what @D063520 mentioned [before](https://github.com/ec-doris/kohesio-backend/issues/73#issuecomment-1025668763). We do not take the risk of modifying the data. I thought that from a communciation perspective would not change too much but I understand and agree with you.
So thanks a lot Dennis for stressing this point.

I would say

[2022-01-31 14:51] madewild commented on #73
OK perfect. And the two I5 (IPA) projects https://linkedopendata.eu/wiki/Item:Q4038552 and https://linkedopendata.eu/wiki/Item:Q4038554 should be filtered out by @DiaZork  and no be instances of Kohesio projects anymore, right?

[2022-01-31 15:14] roberto-musmeci commented on #73
Exactly ! I will provide a list of all OPs in scope of Kohesio

[2022-01-31 16:07] madewild commented on #73
Done, now we have only M# funds remaining:

id | CCI | projects
-- | -- | --
1 | 2014IT05M9OP001 | 20181
2 | 2014HU16M1OP001 | 1401
3 | 2014FR05M9OP001 | 617
4 | 2014FR16M0OP005 | 557
5 | 2014PL16M1OP001 | 319
6 | 2014FR05M2OP001 | 165
7 | 2014FR16M2TA001 | 102
8 | 2014HU16M1OP003 | 91
9 | 2014FR16M0OP001 | 78
10 | 2014FR16M2OP012 | 51
11 | 2014EE16M3OP001 | 23
12 | 2014HU05M3OP001 | 16
13 | 2014S

[2022-01-31 16:07] #73 closed

[2022-01-31 19:49] madewild opened #101 "Search API cache not regenerated"
Project https://dev.kohesio.eu/projects/Q139379 has been renamed from "MELLISEN" to "MELLISENSE".
This is already reflected both on the project fiche and in the search results. However:

https://dev.kohesio.eu/projects?keywords=MELLISENSE&sort=Budget-(descending) does not find this project

https://dev.kohesio.eu/projects?keywords=MELLISEN&sort=Budget-(descending) does still find this project

[2022-02-01 10:35] madewild commented on #101
By the way the other project was a duplicate.

[2022-02-01 12:32] D063520 commented on #100
it is working currently, so we cannot debug it .... please open again if it appears again

[2022-02-01 12:32] #100 closed

[2022-02-01 12:42] madewild commented on #100
OK @roberto-musmeci fyi

[2022-02-01 13:27] DiaZork commented on #99
It's fixed

[2022-02-01 13:29] #99 closed

[2022-02-01 13:29] DiaZork commented on #96
This is done too

[2022-02-01 13:29] #96 closed

[2022-02-01 15:03] madewild opened #102 "Add more fields to Downloads"
On https://dev.kohesio.eu/projects we can download in CSV or XLSX
Currently we have these fields:
ID | PROJECT NAME | TOTAL BUDGET | AMOUNT EU SUPPORT | START DATE | END DATE | COUNTRY

Would be good to include at least summary.

[2022-02-01 15:46] madewild commented on #102
(request of the European Court of Auditors! ;) )

[2022-02-01 17:38] madewild commented on #102
Nice, CoA will be pleased! I close now, @athollard feel free to reopen if we need more fields...

[2022-02-02 08:57] madewild opened #103 "Raise download limit to 5000"
Currently https://dev.kohesio.linkedopendata.eu/api/facet/eu/search/project/csv and https://dev.kohesio.linkedopendata.eu/api/facet/eu/search/project/excel are limited to 1000 results

@D063520 suggested we raise this limit to 5000 (for me it could even be 10000 if not too slow).

[2022-02-02 10:12] madewild commented on #78
Now we have  112 790 results when searching for "youth"
https://dev.kohesio.eu/projects?keywords=youth&sort=Total-Budget-(descending)

Very strange, and even the map tab has many projects! to investigate...

[2022-02-02 15:58] AThollard commented on #102
Thanks! We need to fine tune this when we have more than 5000 results. I was lost trying to find the download functionality :-)
To be added in the FAQ, if more than 5000 results then go to https://data.linkedopendata.eu/projects/
@gachpas @roberto-musmeci

[2022-02-03 09:34] madewild commented on #88
In the end the URLs would be like:

https://kohesio.ec.europa.eu/query
https://kohesio.test.ec.europa.eu/query
https://kohesio.development.ec.europa.eu/query

Would that be a problem for the application? Difficult to ask for subdomains on Europa...
We can reuse what we have on https://dev.qa.linkedopendata.eu/user/endpoint?kb=eu&user=commission (without password)

[2022-02-03 15:16] DiaZork commented on #103
I've increase it to 5000, when i was trying on local with 10000 it was timeout

[2022-02-03 15:24] madewild commented on #103
Cool, @raphdom can you adapt in the UI? Download button should be shown if <= 5000 results

[2022-02-03 19:46] raphdom commented on #103
I did for projects, but we have this limit for beneficiaries also. Let me know if need to change for beneficiaries too.

[2022-02-03 20:43] madewild commented on #103
@DiaZork did you change for both?

[2022-02-04 08:56] madewild opened #104 "LT regions missing"
LT regions are not provided in https://dev.kohesio.linkedopendata.eu/api/facet/eu/search/project/map?granularityRegion=https://linkedopendata.eu/entity/Q14

[2022-02-04 09:22] DiaZork commented on #103
I've only changed for the project but i can change for the beneficiaries if needed

[2022-02-04 09:23] madewild commented on #103
Yes please, easier if everything is aligned :)

[2022-02-04 09:59] DiaZork commented on #103
It's done

[2022-02-04 11:07] madewild commented on #103
@raphdom back to you :)

[2022-02-04 14:44] raphdom commented on #103
done, can you confirm @madewild

[2022-02-04 14:57] madewild commented on #103
@DiaZork not working in the backend: I only get the first 200 beneficiaries...

[2022-02-04 15:33] DiaZork commented on #103
It's working it's just the default value is 200 (i can change it if needed) but you can pass it as a parameter

https://dev.kohesio.linkedopendata.eu/api/facet/eu/search/project/excel?limit=2000

But i there is a problem, the query might timeout because it send an empty file for the moment and it might not be handle properl for the moment... I will look into it....
But for sure it work properly on

[2022-02-04 15:48] madewild commented on #103
Perfect, let us know when it's fixed for the empty file...

[2022-02-05 13:01] madewild commented on #104
Working now

[2022-02-05 13:01] #104 closed

[2022-02-07 13:01] madewild opened #105 "Multilingual beneficiary exports"
Currently, MSs will multiple national languages are not exported properly
e.g. https://dev.data.linkedopendata.eu/kohesio/beneficiaries/2022-02-06_BE_beneficiary.csv
only French labels are exported so we miss all beneficiaries with Dutch labels
we need something more flexible to allow multiple languages for labels

[2022-02-07 14:57] AThollard opened #108 "Statistical regions not ignored"
@D063520 @madewild
In https://kohesio.acceptance.ec.europa.eu/, Project Search, if you select 'Portugal' you got the list of French regions in the regions filter.
Same for Spain. Probably linked to the outermost regions?

[2022-02-07 15:22] D063520 commented on #108
The problem is that many NUTS regions are marked as statistical only and should be ignored. This is not happening. I do not know why. I can currently only check with the help of Raph. I'm waiting for him .....

[2022-02-07 15:22] madewild commented on #108
Well it's not the French regions (@AThollard you must be tired) but rather a list at a too-high level in the country...
![pt_regions](https://user-images.githubusercontent.com/942488/152817106-3db1478e-9996-4b3c-9d8e-cc8f631aebce.png)

[2022-02-07 15:26] madewild commented on #108
On https://kohesio.test.ec.europa.eu/projects?tab=results&country=Portugal&sort=Total-Budget-(descending) it works as expected
@raphdom any clue why this is not properly propagated to ACC?

[2022-02-07 15:33] AThollard commented on #108
Well, starting from scratch in the Project Search I have the French regions both for Portugal and Spain :-)

[2022-02-07 15:35] AThollard commented on #108
And now no region at all but you are probably working on it.

[2022-02-07 15:48] raphdom commented on #108
That's a trick one, on acceptance we have the same index as test and I copied the cache also. But it is nice to investigate.

[2022-02-07 15:56] madewild commented on #108
So basically https://kohesio.acceptance.ec.europa.eu/api/facet/eu/regions?country=https://linkedopendata.eu/entity/Q18 (and same for other countries) is not ignoring statistical NUTS... @raphdom is there a way to give access to @D063520 to debug it?

[2022-02-07 16:05] raphdom commented on #108
In fact now (that I restart the backend app) we have the right regions for Portugal. We need to investigate more. I am working to have a solution that Dennis can have access to the logs.

[2022-02-07 17:02] AThollard opened #109 "Missing search results with frozen index"
In acceptance If you search 'University / Portugal' you don't have the 'University of Porto' in the results. This beneficiary exists: https://kohesio.acceptance.ec.europa.eu/beneficiaries/Q2993198 and was findable under kohesio.eu.
Is it a cache issue?
@madewild

[2022-02-07 17:38] madewild commented on #109
I confirm the issue: https://kohesio.acceptance.ec.europa.eu/beneficiaries?name=university&country=Portugal
Compare with https://dev.kohesio.eu/beneficiaries?name=university&country=Portugal
@D063520 @raphdom  any clue why this is happening?

[2022-02-07 17:39] madewild commented on #109
PS: the issue is not specific to ACC, it also happens on:
https://kohesio.test.ec.europa.eu/beneficiaries?name=university&country=Portugal
https://kohesio.development.ec.europa.eu/beneficiaries?name=university&country=Portugal

[2022-02-07 18:39] madewild commented on #103
PS: on https://dev.kohesio.linkedopendata.eu/api/facet/eu/search/beneficiaries/csv the default limit is higher, don't know the exact value... we should definitely align both

[2022-02-07 19:49] madewild opened #110 "List only Kohesio projects on beneficiary detail page"
Currently all projects are listed, including non-Kohesio projects.
For instance on https://dev.kohesio.eu/beneficiaries/Q2509295 there are 6 projects
The 4th one "Functioning of the Managing Authority" is an ENI cross-border project (https://linkedopendata.eu/wiki/Item:Q77385) which has been removed from Kohesio scope.
So it should not be listed there at all, clicking on https://dev.kohesio.eu/pro

[2022-02-07 20:16] madewild opened #111 "Deduce coordinates from headquarters"
Some beneficiaries like https://dev.kohesio.eu/beneficiaries/Q39 are shown on a map based on their coordinate location in https://linkedopendata.eu/wiki/Item:Q39

However, some big beneficiaries like https://dev.kohesio.eu/beneficiaries/Q2514974 and https://dev.kohesio.eu/beneficiaries/Q2985736 lack this map feature because the property "coordinate location" is absent. It could be deduced from the

[2022-02-07 20:26] #110 closed

[2022-02-08 09:06] madewild opened #112 "Projects near me broken"
https://kohesio.development.ec.europa.eu/api/facet/eu/map/nearby
https://kohesio.test.ec.europa.eu/api/facet/eu/map/nearby
https://kohesio.acceptance.ec.europa.eu/api/facet/eu/map/nearby

All give 500 errors... to fix asap for Anne's demo!

[2022-02-08 09:07] D063520 commented on #112
the only problem is that currently I cannot fix anything .... I'm cut out of the infrastructure .....

[2022-02-08 09:08] madewild commented on #112
I know Dennis, sorry about this situation... We're looking for a solution with Raph.

[2022-02-08 09:11] raphdom commented on #112
this is working:
https://dev.kohesio.linkedopendata.eu/api/facet/eu/map/nearby
@D063520 I've sent you the credentials via teams to access the logs, normally now you can fix on the code and commit and check the logs after the application is restarted(automatically)

[2022-02-08 11:03] raphdom commented on #112
It is fixed on test and acceptance.
We have some instability on DEV application now because of the spot instances on AWS side (to be discussed with them)

[2022-02-08 11:05] madewild commented on #112
@athollard can you test on ACC?

[2022-02-08 11:20] madewild commented on #112
I confirm it works fine on my side...

[2022-02-08 11:20] #112 closed

[2022-02-08 11:27] AThollard commented on #112
Fine on my side as well (very slow but that's another issue on my side)

[2022-02-08 12:38] D063520 commented on #108
This is fixed, no?

[2022-02-08 12:39] madewild commented on #108
Yes, let's just make sure we understand why it happened so that it does not happen again ;)

[2022-02-08 12:39] #108 closed

[2022-02-08 14:16] madewild commented on #87
Let's move this to 1.1

[2022-02-08 14:54] madewild opened #113 "Send empty list on bad request instead of 500 error"
Cf. https://github.com/ec-doris/kohesio.eu/issues/375

https://dev.kohesio.linkedopendata.eu/api/facet/eu/programs?country=https://linkedopendata.eu/entity/null sends back [] which is nice
but https://dev.kohesio.linkedopendata.eu/api/facet/eu/regions?country=https://linkedopendata.eu/entity/null just crashes the api with 500

fixed on the UI side but would be better to align APIs and always send

[2022-02-08 21:21] madewild commented on #109
Now there is nothing at all :(
https://kohesio.acceptance.ec.europa.eu/api/facet/eu/search/beneficiaries?offset=0&limit=15&name=univ*&country=https://linkedopendata.eu/entity/Q18

[2022-02-09 07:37] raphdom commented on #109
With the new index all the search is weird. Waiting @D063520 to debug it. All environments we apply the new index.

[2022-02-09 07:57] D063520 commented on #109
hi Raph, how can I help? I checked yesterday and the same index is working on the ec2 DEV. In fact currently if you go to the dev.kohesio.eu we are using exactly the index you took yesterday ....

[2022-02-09 08:23] madewild commented on #109
The problem is probably that we use an outdated version of the QAnswer application... You pushed an image on February 5 but this still goes to the old ECR that is not used anymore! Sorry our fault, I sent new credentials to push to the correct ECR.

[2022-02-09 08:40] madewild commented on #101
The problem is fixed today!! :)

https://dev.kohesio.eu/projects?tab=results&keywords=mellisen
https://dev.kohesio.eu/projects?tab=results&keywords=mellisense

@D063520 did you change something on the Lucene index? Or maybe it's linked to the fact that we are currently not using the live endpoint? Closing for now, will reopen if it reappears...

[2022-02-09 09:16] madewild commented on #101
also working on https://kohesio.test.ec.europa.eu/projects?tab=results&keywords=mellisense :)

[2022-02-09 09:23] madewild commented on #109
Now it's also missing on https://dev.kohesio.eu/beneficiaries?name=university&country=Portugal !
Cache issue?

[2022-02-09 09:25] madewild commented on #109
With https://dev.kohesio.eu/beneficiaries?name=university%20porto&country=Portugal we find it... weird.

[2022-02-09 09:33] madewild opened #114 "Wrong number of projects for beneficiary in search"
Go to https://dev.kohesio.eu/beneficiaries?name=university%20porto&country=Portugal
Number of projects for "University of Porto" is 2981
![porto](https://user-images.githubusercontent.com/942488/153166806-e7f3260e-6871-4107-805f-de3fb8557710.png)

This comes from https://dev.kohesio.linkedopendata.eu/api/facet/eu/search/beneficiaries?offset=0&limit=15&name=university%20porto&country=https://linked

[2022-02-09 09:41] D063520 commented on #101
no, it is the fresh index, still we have to text with the live endpoint

[2022-02-09 09:47] #114 closed

[2022-02-09 09:49] DiaZork commented on #103
as discussed with Max i've put the default size to 1000 and the max to 2000

[2022-02-09 09:49] madewild commented on #103
Perfected, and I reverted in the UI to show the download button only if number of results <= 1000 (instead of 5000)

[2022-02-09 09:52] madewild commented on #101
- [ ] Test with live endpoint

[2022-02-09 10:08] madewild commented on #103
With 4500 results, not displayed: https://dev.kohesio.eu/projects?tab=results&keywords=youth&sort=Total-Budget-(descending)
With 743 results, button displayed: https://dev.kohesio.eu/projects?tab=results&keywords=youth&sort=Total-Budget-(descending)&country=Italy
Both CSV and XLSX contain all 743 results. Download times are OK (~2 seconds).

Will test beneficiaries when it's fixed.

[2022-02-09 10:34] madewild commented on #109
Other example:
https://kohesio.eu/beneficiaries?country=France&name=university has 2 results
https://dev.kohesio.eu/beneficiaries?country=France&name=university has no results
https://dev.kohesio.linkedopendata.eu/api/facet/eu/search/beneficiaries?offset=0&limit=15&name=university&country=https://linkedopendata.eu/entity/Q20

I checked and the two beneficiaries are still linked to valid Kohesio pr

[2022-02-09 19:31] madewild opened #115 "Hide subprojects from Malta"
Currently, all subprojects in Malta and shown on the map and in the search results: 5376 instead of 120.
This is a regression due to the materialisation of the instance of -> subclass hierarchy.

[2022-02-09 19:32] madewild opened #116 "Harmonise number of projects between map and search"
For Italy, we have 739 673 projects in the search results and  739 638 on the map.
Maybe other countries also have mismatches, to be confirmed...

[2022-02-09 19:34] madewild commented on #101
I confirm it still works now that the live endpoint is back: https://dev.kohesio.eu/projects?tab=results&keywords=mellisense
Problem solved, closing.

[2022-02-09 19:34] #101 closed

[2022-02-09 19:36] madewild commented on #109
On https://dev.kohesio.eu/beneficiaries?name=university&country=Portugal it is working again (16 results) with live endpoint
Let's make sure we deploy the same version to TEST and ACC tomorrow...

[2022-02-09 19:37] madewild commented on #109
https://dev.kohesio.eu/beneficiaries?country=France&name=university also has the 2 expected results
the version on dev.kohesio.eu is correct (but something was wrong when we switched to the frozen index so let's be cautious)

[2022-02-09 19:51] D063520 commented on #116
I was changing still projects, In fact I'm still doing ... so basically projects get inserted and removed
since the query are executed at different times the numbers can be different
to be checked once no insertion is happening

[2022-02-09 19:53] madewild commented on #116
OK, I thought the numbers were stable now and we were just adding coordinates...

[2022-02-09 21:47] D063520 commented on #116
We are not adding and deleting projects … but the updater basically does exactly this, it erases a project and inserts it from scratch

[2022-02-10 15:34] madewild commented on #63
Same for Ireland vs Republic of Ireland, etc.

[2022-02-11 06:14] madewild opened #119 "10000000000 cannot be converted to number"
Starting from https://kohesio.development.ec.europa.eu/projects?sort=Total-Budget-(descending)&totalProjectBudget=1-000-000-000---10-000-000-000:

https://kohesio.development.ec.europa.eu/api/facet/eu/search/project?offset=0&limit=15&budgetSmallerThan=10000000000&budgetBiggerThan=1000000000&orderTotalBudget=false

https://kohesio.development.ec.europa.eu/api/facet/eu/search/project/image?offset=0&

[2022-02-11 07:53] raphdom opened #121 "First time load problems"
I noticed that when we restart the backend application the first time that we try to reach some endpoint is loading forever... just need to refresh the page, but it is annoying...

[2022-02-11 08:10] D063520 commented on #119
probably an overflow

[2022-02-11 08:18] madewild opened #122 "Improve README"
Current README is too generic and not very detailed: https://github.com/ec-doris/kohesio-backend/blob/main/README.md
We should explain better the purpose of the tool, the context, and how to run it

[2022-02-11 08:19] madewild commented on #119
@roberto-musmeci do we have so many projects over 1 billion euros? we could simply remove this option in the dropdown filter if easier...

[2022-02-11 08:33] roberto-musmeci commented on #119
We have onyl 10 projects above 1bn . I agree with @madewild to remove it

[2022-02-11 08:35] D063520 commented on #119
no, no, it is easy to fix, we make a long out of an int ....

[2022-02-11 09:59] madewild opened #123 "Expose Kohesio QA endpoints"
On https://kohesio.ec.europa.eu/qa + other ENVs

[2022-02-11 10:04] madewild commented on #87
So when it's ready it should be exposed to https://kohesio.ec.europa.eu/data (+ other ENVs)

[2022-02-11 10:08] madewild commented on #98
https://kohesio.development.ec.europa.eu/beneficiaries?sort=Number-of-Projects-(descending) is fast for me and pagination works
@D063520 is this still an issue or can we close?

[2022-02-11 10:10] #98 closed

[2022-02-11 10:17] madewild opened #124 "Empty project list"
Happening on edge case but maybe also elsewhere...
https://kohesio.development.ec.europa.eu/beneficiaries/Q3650562

https://kohesio.development.ec.europa.eu/api/facet/eu/beneficiary?id=https://linkedopendata.eu/entity/Q3650562 reports we should expect 45111 projects

but https://kohesio.development.ec.europa.eu/api/facet/eu/beneficiary/project?id=https://linkedopendata.eu/entity/Q3650562&page=0&pa

[2022-02-11 12:24] DiaZork commented on #124
It looks fixed for some reason.... i didn't touch anything maybe it was some cache that wasn't generated yet ?

[2022-02-11 12:35] madewild commented on #124
OK strange... let's see if it happens again.

[2022-02-11 12:35] #124 closed

[2022-02-11 13:53] #113 closed

[2022-02-11 13:58] DiaZork commented on #119
It's done

[2022-02-11 13:58] #119 closed

[2022-02-11 14:00] madewild commented on #119
@roberto-musmeci we have 8 projects now on https://kohesio.development.ec.europa.eu/projects?sort=Total-Budget-(descending)&totalProjectBudget=1-000-000-000---10-000-000-000 is that correct?

[2022-02-11 15:26] roberto-musmeci commented on #119
We have 8 between 1-10bn euros.
The we have 1 in Hungary of 28 bn euros. It must be wrong. I am checking make sure we address it.
[query](https://query.linkedopendata.eu/#SELECT%20%3Fp%20%3FBdg%0AWHERE%7B%0A%20%20%3Fp%20wdt%3AP35%20wd%3AQ9934%3B%0A%20%20%20%20%20wdt%3AP474%20%20%3FBdg.%0A%20%20FILTER%28%3FBdg%20%3E1000000000%29%0A%20%20%7D%20ORDER%20BY%20DESC%28%3FBdg%29)

[2022-02-14 14:02] madewild commented on #74
I was testing the semantic search with my kids and the model is not that bad :)
![gensim](https://user-images.githubusercontent.com/942488/153878355-0af41ddd-88dd-410b-90a9-fa7758efe92f.png)

[2022-02-14 14:11] faustusdotbe commented on #74
Remind me to bring them stickers for the next time we're at the office 🦕

[2022-02-14 19:27] D063520 commented on #121
Hi Raph, I do not really understand the problem. How can I replicate it? Could it be that it was due to the fact that the endpoint was not started and therefore the backend could not answer?

[2022-02-14 19:33] D063520 commented on #115
This should be fixed in the next indexing cycle

[2022-02-14 19:37] madewild commented on #88
For us yes, but the point is to offer an open query endpoint to all users, journalists etc. Currently we have https://query.linkedopendata.eu/ but:

1. it is over the entire KG and not just Kohesio data (frozen index)
2. there is a timeout of 60 seconds
3. it is sitting on an EC2 which does not scale

My understanding is that the cluster could handle the extra load. @raphdom do you confirm?
@athol

[2022-02-14 22:39] raphdom commented on #121
Hi @D063520. Normally this happen every time that we restart the backend application. You can restart and try to go to the first page of the application. The map will try to load and it will loads forever, but if I refresh the page twice it is working, we could reproduce it only with the backend endpoints also. If you have time we can check together tomorrow...

[2022-02-14 22:43] raphdom commented on #88
@D063520 I have setup the test environment for the qanswer application with /qa
https://kohesio.test.ec.europa.eu/qa
But seems that something is not working and the page is not loaded.
Do you think that will work only with /query?
Maybe you should change something in the application to map this url?
Let me know...

[2022-02-14 22:45] raphdom commented on #116
You can check the workflows that we have, specific in this point we are running the script:
[code]
@D063520. Tell me if I can adapt something.

[2022-02-15 06:38] madewild commented on #88
Caution @raphdom: /query and /qa are two different things! See #123 for the /qa part...

[2022-02-15 07:26] raphdom commented on #88
Ah okay, different things for the same application. The app should take care of this, on my view, but we can discuss this.

[2022-02-15 07:40] madewild commented on #88
To clarify, currently we have two distinct services:

- https://query.linkedopendata.eu/
- https://qa.linkedopendata.eu/

These are different applications. Now on Kohesio QAnswer will handle both. So maybe we could have a single URL for both, @D063520 what do you think?

[2022-02-15 08:49] madewild commented on #116
Update on the numbers:

- on DEV and TEST, we have 739 673 projects in Italy both on the map and in the search results, all good.
- 2 projects disappeared in Greece: we are down to  50 403 from  50 405 (@DiaZork do you know about that?)
- however, I again have a discrepancy of 8 between the sum of all projects on the map (1 723 289) and the total displayed on the project page (1 723 281). Before t

[2022-02-15 08:55] raphdom commented on #116
The cache was regenerate this night at seems to be without errors, but like @D063520 said, we could adapt the script to regenerate the cache better. Feel free to call me.
Logs for the container that regenerate the cache this night:

`kubectl logs kohesio-cron-sync-data-dev-staging-1644886800-2233246388 -n workflows main -f`

[2022-02-15 09:38] AThollard commented on #88
The query endpoint is not mandatory but we have mentioned it as a service in both business case and project charter. So I think it would be good to keep it as a separate service. Also because it's a service out of the box from the Wikibase if I am not wrong and so a good 'hook' for Wikimedia Germany to promote Wikibase related services.
If it's a timing and scope issue it can be postponed to versi

[2022-02-15 09:55] madewild commented on #88
The two services above will remain in any case, it's a matter of adding someting dedicated on the Kohesio website or not.
https://query.linkedopendata.eu/ comes out of the box from Wikibase/WMDE but if we add on kohesio.ec.europa.eu it would be a service provided by QAnswer like we currently have on https://dev.qa.linkedopendata.eu/user/endpoint?kb=eu&user=commission

[2022-02-15 10:39] AThollard commented on #88
I don't get the point on embedding the query endpoint in QAnswer, is it to restrict the scope to Kohesio only and not querying the full KG? Or is it to promote QAnswer as a global service? Let's discuss this briefly so you enlighten me, in any case not a priority for the launch.

[2022-02-15 12:27] madewild commented on #88
After discussing with @AThollard we will postpone this to 1.2

[2022-02-15 12:28] madewild commented on #123
After discussing with @AThollard we will postpone this to 1.2

[2022-02-15 12:29] madewild commented on #115
On https://kohesio.development.ec.europa.eu/ it's still wrong. Or do you mean tomorrow?

[2022-02-16 08:27] madewild commented on #115
@D063520 we still have 5376 MT projects on https://kohesio.development.ec.europa.eu/ this morning...

[2022-02-16 08:39] D063520 commented on #115
this is "normal"
so basically test is the frozen index .... we are currently not updating it .... the last one is from Friday.
I can change it in the live endpoint if you want?

[2022-02-16 08:48] madewild commented on #115
My point is, it's also wrong on the live endpoint: https://kohesio.development.ec.europa.eu/

[2022-02-16 09:14] madewild commented on #115
OK let's move the frozen index to test tomorrow and check.

[2022-02-16 09:42] D063520 commented on #63
This issue
https://github.com/the-qa-company/WikibaseSync/issues/8
was solved and labels modified in the Wikibase have now priority over labels changes in Wikidata

[2022-02-16 09:43] #63 closed

[2022-02-16 09:45] roberto-musmeci opened #126 "Chained dropdown filters not working"
In the https://kohesio.test.ec.europa.eu/projects?tab=results, the program filter does not work properly.
It you select ESF as fund, you can still find ERDF programs in the program filters. See screenshot, "RF" (position 10 in the CCI) indicates it is a ERDF program.

I tried with Germany and Austria. It seems an overarching issue.

![image](https://user-images.githubusercontent.com/86654885/15423

[2022-02-16 09:59] roberto-musmeci commented on #126
I thought it was already there, sorry.
If we have time, it would be great to finetune it but it not essential.
I can help with multifund programs.

[2022-02-16 10:07] madewild commented on #126
No it's a new feature :)
Let's see if we have time, otherwise we postpone to 1.2

[2022-02-16 10:43] DiaZork commented on #126
I've add the list of funds of the program in the program facet controller
https://kohesio.development.ec.europa.eu/api/facet/eu/programs?country=https://linkedopendata.eu/entity/Q22

[2022-02-16 10:48] madewild commented on #126
That's a start but what we would need is an extra parameter like https://kohesio.development.ec.europa.eu/api/facet/eu/programs?country=https://linkedopendata.eu/entity/Q22&fund=https://linkedopendata.eu/entity/Q2504370 and then the API would send back only the programs in the scope of this particular fund...

[2022-02-16 11:03] DiaZork commented on #126
This is added

[2022-02-16 11:10] madewild commented on #126
Cool, @svili can you take it from here and make sure we send the fund param (when not null) to programs api?

[2022-02-17 06:16] madewild opened #127 "Add PO codes to API"
Like you did for themes, could you add the PO01, PO02 codes etc. (Policy Objective ID https://linkedopendata.eu/wiki/Property:P1747) in https://kohesio.development.ec.europa.eu/api/facet/eu/policy_objective ? It will allow us to avoid hardcoding on the UI side, thx.

[2022-02-17 08:22] madewild opened #128 "Brittany project list empty on map"
https://kohesio.test.ec.europa.eu/api/facet/eu/search/project/map?granularityRegion=https://linkedopendata.eu/entity/Q3487 sends back no projects

but on https://kohesio.test.ec.europa.eu/projects?tab=results&country=France&region=Brittany&sort=Total-Budget-(descending) we see 1283 projects

[2022-02-17 08:23] madewild commented on #128
(working on https://kohesio.development.ec.europa.eu/api/facet/eu/search/project/map?granularityRegion=https://linkedopendata.eu/entity/Q3487 strange)

[2022-02-17 08:23] madewild commented on #128
frozen index issue?

[2022-02-17 08:24] D063520 commented on #128
No, I fixed this issue silently .... we just have to deploy the new backend .....

[2022-02-17 08:27] madewild commented on #128
fyi @roberto-musmeci

[2022-02-17 08:27] #128 closed

[2022-02-17 09:34] roberto-musmeci opened #129 "Statistical NUTS keep coming back"
In the beneficiary research page, the filter includes NUTS for Statistical purpose only.
The effect is that if combined with another filter (e.g. OP), the list of beneficiary is incomplete/incorrect

![image](https://user-images.githubusercontent.com/86654885/154446845-dd8f979e-bed1-41fe-8b20-b8de54adaa4e.png)

[2022-02-17 09:51] madewild commented on #127
Additionnaly, can you sort by PO? (PO1 then PO2 etc.)
Currently the order is strange in the filter (PO1 then PO4...)

[2022-02-17 09:52] madewild commented on #129
Yes they are back again... it's everywhere, also on the map and in projects. We will check why with @D063520

[2022-02-17 09:52] D063520 commented on #129
wait wait ... it is again this problem that the statistical nuts are not excluded all over the application ..... why!!!!

[2022-02-17 09:53] madewild commented on #129
indeed they reappear every day, I think it's an issue with the cache that is computed on the live index instead of the frozen index or something, let's discuss with @raphdom

[2022-02-17 09:53] D063520 commented on #129
so the pod restarted 6 hours ago .... basically something is going wrong there
kohesio-backend-deployment-0                   2/2     Running     0          6h38m

[2022-02-17 09:54] D063520 commented on #129
ok, let's discuss at 13:00 ....

[2022-02-17 10:06] DiaZork commented on #127
It's good now

[2022-02-17 10:20] madewild commented on #127
Thanks, perfect.
Side note: this API is called https://kohesio.development.ec.europa.eu/api/facet/eu/policy_objective (singular) while it should be aligned to https://kohesio.development.ec.europa.eu/api/facet/eu/thematic_objectives (plural).
But let's maybe not change this right now since it will break the UI. ;)

[2022-02-17 10:20] #127 closed

[2022-02-17 21:42] madewild opened #130 "Projects near me not ordered by distance"
Projects near me does not alway display Belgium's projects. The only pattern we could find with Pascal is that laptop within VPN network area will display Belgian projects but personnal computers from external zone will not display. Tested with IPAD, Personal desktop, PGA's Unisys laptop and personal IPhone. Cached have been refreshed and when test failed, tried with "private" session.

[2022-02-17 22:24] madewild commented on #109
Also happens for projects.
https://kohesio.test.ec.europa.eu/projects?keywords=%22school%22&sort=Total-Budget-(descending)&country=Czechia&theme=Social-Inclusion&policyObjective=Social-Europe has only 66 results (1634 in dev with live index). https://kohesio.test.ec.europa.eu/projects/Q51985 is not discoverable for instance.

[2022-02-18 06:26] madewild commented on #130
Transferred to backend because it does not look like a frontend issue.
This is the code handling the "nearby" functionality: https://github.com/ec-doris/kohesio-backend/blob/dev/src/main/java/eu/ec/doris/kohesio/controller/MapController.java
@DiaZork can you help us debug this?

[2022-02-18 06:29] madewild commented on #130
Might be related to the limit=2000 parameter. If the function finds 2000 in Germany close to the border, it stops looking...

[2022-02-18 07:01] D063520 opened #132 "when clicking on a point ranking the featured projects first"
It's more a backend issue, but is it ok for you?

<img width="1041" alt="Screenshot 2022-02-18 at 08 00 48" src="https://user-images.githubusercontent.com/10883585/154633780-2550bec4-a7e8-4d4d-adb3-0d4284f388aa.png">

[2022-02-18 07:04] Djang0 commented on #130
exact same behavior at https://kohesio.test.ec.europa.eu/

[2022-02-18 07:08] raphdom opened #131 "Add statistics endpoint data to the cache"
/api/facet/eu/statistics
The only part on the homepage that is not cached.

[2022-02-18 07:52] madewild commented on #132
Sure, I though it was already the case...
@DiaZork can you take car of that?

[2022-02-18 07:53] madewild commented on #130
yes that's "normal" ;) the nearby code is the same in all ENVs...

[2022-02-18 09:30] madewild opened #133 "Clarify expected end date"
Currently the api tries to find the real end date, and if not available falls back on expected end date.
In https://kohesio.test.ec.europa.eu/api/facet/eu/project?id=https://linkedopendata.eu/entity/Q60306 we cannot know if "endTime":"2021-03-31" is a real or expected (it's an expected end date in this case: https://linkedopendata.eu/wiki/Item:Q60306)

In the future, we should maybe have two diffe

[2022-02-18 10:51] madewild commented on #115
Working on https://kohesio.test.ec.europa.eu/

[2022-02-18 10:51] #115 closed

[2022-02-18 11:51] madewild opened #134 "Shutdown old EC2s"
and destroy volumes?
after the launch

[2022-02-19 12:53] madewild commented on #74
But "ml" was working before and not anymore...
![ml](https://user-images.githubusercontent.com/942488/154801602-f9dbd9a5-60c0-4f74-b586-b758e49db32c.png)

[2022-02-19 13:55] madewild commented on #109
Other side effect reported by @gachpas: https://kohesio.test.ec.europa.eu/projects?keywords=%22renewable%20energy%22&sort=Total-Budget-(descending) (with quotes) has more results than https://kohesio.test.ec.europa.eu/projects?keywords=renewable%20energy&sort=Total-Budget-(descending) (without quotes) which makes no sense
In dev with live index it works properly of course...

[2022-02-19 14:50] faustusdotbe commented on #74
Perhaps we should play it safer and have a general-purpose model instead. It's hard to specialise without any test set to formally evaluate what we've done. In this case I don't really see why ```ml```  is now similar to the Romanian commune of Ohaba for example. If we end up fixing this, we'll break something else.

[2022-02-20 06:58] madewild opened #135 "Add policy objective to project API"
Currently on https://kohesio.test.ec.europa.eu/api/facet/eu/project?id=https://linkedopendata.eu/entity/Q100952 we have:

"objectiveIds":["TO09"]
"objectiveLabels":["Social Inclusion"]

"objective" is not very clear since it can refer both to thematic objective (TO, theme) or policy objective (PO, policy)
it would be good for later to:

- change these to themeIds and themeLabels
- add policyId and

[2022-02-20 07:03] madewild opened #136 "Stopwords excluded by Lucene even when using quotes"
If you search for "ERDFtop IF", it seems that the search result matches only for "ERDFtop" and not for "ERDFtop IF.
Also if you search "ERDFtop EE" within quotes, some results are rendered. The same without quotes gives back no results.

"if" is probably a Lucene stopword but is it expected to not work with quotes?

reported by @roberto-musmeci

[2022-02-20 07:09] madewild commented on #132
For instance on https://kohesio.test.ec.europa.eu/api/facet/eu/search/project/map/point?coordinate=21.6267661,52.1569732 we would need the 2 projects with "isHighlighted":true" coming first in the list

[2022-02-20 07:14] madewild opened #137 "Exact location not provided in project API"
https://kohesio.test.ec.europa.eu/api/facet/eu/project?id=https://linkedopendata.eu/entity/Q3133959 is giving "regionText":"Spain"
however this project has a precise geolocation in the Wikibase: https://linkedopendata.eu/wiki/Item:Q3133959

[2022-02-20 07:18] madewild opened #138 "Empty geoJson"
https://kohesio.test.ec.europa.eu/api/facet/eu/project?id=https://linkedopendata.eu/entity/Q2548069

geoJson is empty while the (complex) info is available on https://linkedopendata.eu/wiki/Item:Q2548069

[2022-02-20 07:21] madewild opened #139 "Search timing out with budget"
https://kohesio.test.ec.europa.eu/projects?tab=results&sort=Total-Budget-(descending)&totalProjectBudget=100-000-000---1-000-000-000

runs forever until a timeout

[2022-02-20 07:36] madewild opened #140 "Mismatch between map layers"
Map overview when searching via keywords - it seems that sometimes no markers indicated on the map, only regions?
reported by @slaven777

Example:

- Go to https://kohesio.test.ec.europa.eu/projects?keywords=wifi&sort=Total-Budget-(descending)&tab=map
- Sweden is orange
- Hover it: 1 project
- Click on it > nothing

This is because the unique project has no geolocation. Known issue but bad user ex

[2022-02-21 10:26] DiaZork commented on #139
This is working now so it might be that the cache take too long to generate ?

[2022-02-21 10:31] madewild commented on #139
Probably someone tried it today and now it's cached
On https://kohesio.development.ec.europa.eu/projects?tab=results&sort=Total-Budget-(descending)&totalProjectBudget=100-000-000---1-000-000-000 still timing out

[2022-02-21 10:45] DiaZork commented on #132
It's done
https://kohesio.development.ec.europa.eu/api/facet/eu/search/project/map/point?coordinate=21.6267661,52.1569732

[2022-02-21 10:45] #132 closed

[2022-02-21 11:08] raphdom opened #141 "Restrict the access of the API"
Enable cors for the production image for all endpoints

[2022-02-21 11:42] madewild opened #142 "Missing red circle"
![missing red circle](https://user-images.githubusercontent.com/942488/154948562-01ee6cc8-564f-4dd0-87d1-1926247401fd.png)

We see this location has a highlighted project but the circle is not red.
We should have at least one "isHighlighted: true" in https://kohesio.development.ec.europa.eu/api/facet/eu/search/project/map?granularityRegion=https://linkedopendata.eu/entity/Q2530082

[2022-02-21 11:43] madewild commented on #142
{"isHighlighted":false,"coordinates":"18.628218475573,54.36143405"}

should be

{"isHighlighted":true,"coordinates":"18.628218475573,54.36143405"}

compare with https://kohesio.development.ec.europa.eu/api/facet/eu/search/project/map/point?coordinate=18.628218475573,54.36143405

[2022-02-21 13:35] madewild commented on #87
@svili @raphdom  let's not forget this one! ;)

[2022-02-21 13:43] raphdom commented on #87
oki doki

[2022-02-21 14:15] DiaZork commented on #130
I've find out why it was happening, it's because the query is not order by distance but by default so it's le "lower" IRI that come out first so with the 2000 limit it stop before getting any Belgium project

[2022-02-21 14:20] madewild commented on #130
Cool, so basically an order by will fix it? :)

[2022-02-21 15:13] DiaZork commented on #130
I made the change, you can try... But now it is quite slow, it take around 30 seconds for the query

[2022-02-21 15:37] madewild commented on #130
The spread of the projects is better but 30 seconds is clearly not acceptable. Maybe we can display only 200 projects instead of 2000 if this speeds things up? 200 is already a lot to explore manually on the map...

[2022-02-21 15:42] DiaZork commented on #130
This doesn't speed up the query.. The slow thing is the `ORDER BY` which is done before the `LIMIT`
So what i think can help is to add a FILTER that will keep only the project with a distance lower than a certain distance and that should speed up the ORDER BY by a lot i think

[2022-02-21 15:47] madewild commented on #130
OK nice I let you check it...
If we can make it work quick enough, the improvement is clear. I tested by switching to 4G instead of wifi and there I have the same issue as @Djang0 and @gachpas:

TEST (old)
![pnm_test](https://user-images.githubusercontent.com/942488/154987529-29ec7260-7697-48e3-8ecb-83d04d7dba49.png)

DEV (new)
![pnm_dev](https://user-images.githubusercontent.com/942488/154987576-

[2022-02-21 15:48] madewild commented on #130
We could also retrieve the country from the IP address and then filter on this country in the query, but then we miss interreg cross-border projects etc. To test and decide.

[2022-02-21 16:07] DiaZork commented on #130
I've added a filter and it's a lot better the query take a bit less than a second.
I've but a limit of 100 km that i can move is it good ?

[2022-02-21 16:16] madewild commented on #130
Much better indeed!
@Djang0 and @gachpas can you test on https://kohesio.development.ec.europa.eu/ ?

[2022-02-21 16:40] gachpas commented on #130
@madewild , now I have projects around Liège :)

Thx

[2022-02-21 16:58] #130 closed

[2022-02-21 17:08] madewild opened #143 "Search performance and persistence"
Opening up a separate issue to follow up on https://github.com/ec-doris/kohesio.eu/issues/242

https://kohesio.development.ec.europa.eu/search?keywords=job took 17 seconds to load for instance (now it's cached of course)
trying to understand why since it's paginated...is it getting the total which is taking a lot of time?
might be linked to #109
in pure Lucene we don't have this problem, the total

[2022-02-21 17:19] madewild commented on #139
@DiaZork you can test tomorrow when the cache is clean
you could also switch to other amounts, @roberto-musmeci reported issues with all ranges
kind of linked to #143 but here the filter is part of the problem

[2022-02-21 20:34] madewild commented on #87
On the page https://kohesio.test.ec.europa.eu/services the link "all the data" already points to https://kohesio.test.ec.europa.eu/data but currently it redirects to https://kohesio.test.ec.europa.eu/404

[2022-02-21 20:39] madewild commented on #143
Other related issue: if you go to https://kohesio.test.ec.europa.eu/search?keywords=wifi and then refresh several times the page, the results displayed are always different. We should use some kind of sorting/ranking to persist the order even if minimal to avoid further affecting performance.

[2022-02-22 06:29] raphdom commented on #121
For me the problem is solved.

[2022-02-22 06:29] #121 closed

[2022-02-22 07:38] madewild opened #145 "Add all new ENVs in UptimeRobot"
DEV, TEST, ACC and PROD

[2022-02-22 09:22] madewild commented on #129
will be fixed in frozen index
also fix in live index

[2022-02-22 09:36] madewild opened #146 "Query TO by PO and PO by TO"
https://kohesio.development.ec.europa.eu/api/facet/eu/thematic_objectives should have an extra param ?policy
https://kohesio.development.ec.europa.eu/api/facet/eu/policy_objective should be renamed to polycy_objective**s** and have an extra param ?theme

First wait for https://github.com/ec-doris/kohesio-data/issues/213
For after launch!

[2022-02-22 10:20] AThollard opened #147 "Non-Kohesio beneficiary in TEST index"
https://kohesio.test.ec.europa.eu/beneficiaries/Q2542200

[2022-02-22 12:38] DiaZork commented on #142
It's fixed

[2022-02-22 12:38] #142 closed

[2022-02-22 12:40] madewild commented on #142
@roberto-musmeci fyi the Gdansk highlighted projects are finally there on dev :)

![gdansk](https://user-images.githubusercontent.com/942488/155134219-0753d2bf-8feb-4068-a188-685d6d2bab7f.png)

[2022-02-22 13:47] DiaZork commented on #138
It's fixed
https://kohesio.development.ec.europa.eu/projects/Q2548069
https://kohesio.development.ec.europa.eu/api/facet/eu/project?id=https://linkedopendata.eu/entity/Q2548069

[2022-02-22 13:51] madewild commented on #138
Nice!
fyi @roberto-musmeci

[2022-02-22 13:51] #138 closed

[2022-02-22 16:50] DiaZork commented on #137
It was a problem with the entity [Community of Madrid](https://linkedopendata.eu/wiki/Item:Q1135) it was missing the NUTS 2 and NUTS 3 as it normally shoud be.
I will check tomorrow with the new index but it should be fix

[2022-02-22 17:57] D063520 commented on #147
I checked a "non-kohesio beneficary" as a subclass of a "beneficary". So it was also a beneficary ... I removed it now. The dumping started some hours ago ... let's see if the data will make it into the next frozen index

[2022-02-22 18:16] D063520 commented on #139
I added a cache on the budget ranges

[2022-02-22 18:24] D063520 commented on #129
@madewild two things
1) you need to put them as preferred
2) you need to wait one night since the application needs to restart (or you kill the pod and wait)
Since both things will apply tomorrow, please check again .....

[2022-02-22 18:28] D063520 commented on #143
I would remove the count ... the count provided in such search scenarios is never accurate, that is why it is generally fast. Is this fine?

[2022-02-22 18:30] D063520 commented on #131
I added this in the cache, can someone check tomorrow morning, early ; )

[2022-02-22 18:36] raphdom commented on #131
Don't forget if you want to reflect this on test environment you should merge into test branch. We are using the latest commit to regenerate the cache on test with the frozen index.

[2022-02-22 19:24] madewild commented on #143
But then what do we put in the pagination?

[2022-02-22 21:26] D063520 commented on #131
I would move all the changes from dev to test in one batch once they are approved on dev ....

[2022-02-22 21:29] madewild commented on #131
It's just that the cache behaves a bit differently with live vs frozen index... but OK we can check tomorrow in DEV, then merge to TEST, then check again on Thursday in TEST.

[2022-02-22 21:40] D063520 commented on #143
We can make it a la amazon and put always 7 pages:

<img width="1074" alt="Screenshot 2022-02-22 at 22 38 32" src="https://user-images.githubusercontent.com/10883585/155224002-9a6f1a0b-8248-4ad5-84e7-361be583d12b.png">

If there are not so many results we will say no result found

[2022-02-23 06:28] madewild commented on #129
Perfect in dev this morning.

[2022-02-23 06:28] #129 closed

[2022-02-23 06:29] madewild commented on #109
Is there a temporary quick fix by raising the limit or should I already postpone to 1.2?

[2022-02-23 06:34] madewild commented on #137
Still not working on https://kohesio.development.ec.europa.eu/projects/Q3133959 with live index but let's wait for the fozen one to check in test...

PS: ah @DiaZork the new statements were not marked as preferred like NUTS1! I just made them preferred on https://linkedopendata.eu/wiki/Item:Q1135

[2022-02-23 06:36] madewild commented on #139
Perfect for me now!
@roberto-musmeci can you test in dev?

[2022-02-23 06:37] madewild commented on #131
I just tested https://kohesio.development.ec.europa.eu/api/facet/eu/statistics and was very quick
but I might have been on the dev homepage before :P

[2022-02-23 07:58] roberto-musmeci commented on #139
Searching by ranging of total budgets works perfectly. Thanks a lot
There is still some problems regarding the ranges of EU contributions. Can we cache also that ?

[2022-02-23 08:01] madewild commented on #139
Indeed good idea @roberto-musmeci ! @D063520 can you handle this?

[2022-02-23 08:16] D063520 commented on #139
I did not even remember that there is this search filter! Added ......

[2022-02-23 08:16] madewild commented on #139
Cool, will test tomorrow and close then.

[2022-02-23 08:32] D063520 opened #148 "Search on dense nodes to slow"
When a node has to many projects clicking on the point is taking to much time. Like in Madrid:

<img width="1680" alt="Screenshot 2022-02-23 at 09 31 07" src="https://user-images.githubusercontent.com/10883585/155284370-82d8e8f7-5e6c-4c89-96b0-ce188a1d80f3.png">

I would suggest to reduce the amount of projects returned for now and in future introduce lazy loading ....

[2022-02-23 08:33] madewild commented on #148
Fine for me, we can put a limit at 100 projects for now.

[2022-02-23 08:42] madewild commented on #131
@raphdom do you have another way to check if it is fine now? so we can close...

[2022-02-23 08:50] raphdom commented on #131
We can close it, let's see on test tomorrow

[2022-02-23 08:52] #131 closed

[2022-02-23 09:31] DiaZork commented on #137
It's working now

[2022-02-23 09:33] madewild commented on #137
Well not really: it says "multiple locations" whereas there is only one on https://linkedopendata.eu/wiki/Item:Q3133959 ;)

[2022-02-23 09:34] DiaZork commented on #137
Right, there is several time the same geoJson ...

[2022-02-23 15:42] DiaZork commented on #137
This time it should be good

[2022-02-23 15:43] #137 closed

[2022-02-23 21:02] madewild commented on #147
Still visible on https://kohesio.test.ec.europa.eu/beneficiaries/Q2542200 ...
So will be for next dump/index?

[2022-02-23 21:03] D063520 commented on #147
Wait .... so it will be there I guess but it will not be findable via the search .... does this make sense?

[2022-02-23 21:05] madewild commented on #147
Mmmh not really... for me the correct behaviour is like https://kohesio.development.ec.europa.eu/beneficiaries/Q2542200 which redirects to 404

[2022-02-23 21:09] D063520 commented on #147
I checked the code ... you are right .... and yes it is because we change it to late .... should I recompute the index again?

[2022-02-23 21:12] madewild commented on #147
Not now, maybe next week when we are extra sure that the data is perfect for the release. :)

[2022-02-23 21:42] D063520 commented on #143
can you test now on test?

[2022-02-23 21:50] madewild commented on #143
I don't see much of a difference...

- https://kohesio.test.ec.europa.eu/search?keywords=car took 9 seconds (4 264 results)
- still different order every time I reload

What did you change?

[2022-02-24 08:03] madewild commented on #139
Working now.

[2022-02-24 08:03] #139 closed

[2022-02-24 08:08] madewild commented on #139
Mmmh https://kohesio.acceptance.ec.europa.eu/projects?amountEUSupport=1-000-000-000---10-000-000-000&sort=Total-Budget-(descending) is also cached? First time I went there I got a timeout:
![eu_cache](https://user-images.githubusercontent.com/942488/155483826-e2937c92-bd8c-4c6b-9e57-bc512577b957.png)

Now it's cached and working.

[2022-02-24 08:27] D063520 opened #151 "cache missing for regions"
- select italy
- select any region

<img width="1680" alt="Screenshot 2022-02-24 at 09 26 44" src="https://user-images.githubusercontent.com/10883585/155486746-ad81f0f6-3239-4cea-bb3a-b8d8b8c8c037.png">

also on the map .... this is particularly starnge since when we click on the map it is fast. Why are these requests different?

[2022-02-24 08:47] D063520 commented on #139
I forgot a to cache the last entry. It has 10 zeros and I put only 9 .....

[2022-02-24 10:06] DiaZork commented on #143
We optimize the query, it's better now

[2022-02-24 10:19] madewild commented on #143
Much faster indeed and with persistent results on DEV!
I tested with https://kohesio.development.ec.europa.eu/search?keywords=my etc.
Great, closing then.

[2022-02-24 10:19] #143 closed

[2022-02-24 10:45] D063520 commented on #151
ok, it was simply not in the cache .... did not remember this .... now it is ....

[2022-02-24 10:45] #151 closed

[2022-02-24 10:48] madewild commented on #151
cool, but this cache has been growing a lot these days... yesterday took 4 hours to generate it! need to monitor that closely

[2022-02-24 10:49] D063520 commented on #151
oh really! we can also not cache it .... it was not that slow .... I was just surprised that it was not there ....

[2022-02-24 10:51] madewild commented on #151
Don't worry, leave it there for now, will open another issue.

[2022-02-24 10:51] madewild opened #152 "Monitor growing cache"
Cache has been growing a lot these days... yesterday took 4 hours to generate it! need to monitor that closely

_Originally posted by @madewild in https://github.com/ec-doris/kohesio-backend/issues/151#issuecomment-1049728214_

[2022-02-24 10:56] D063520 commented on #122
@madewild is the readme what you expected now? Not sure what to add more ....

[2022-02-24 10:57] madewild commented on #122
Yes it's good, thanks.

[2022-02-24 10:57] #122 closed

[2022-02-24 11:06] D063520 commented on #152
On option is to parallelise it probably .....

[2022-02-24 12:07] raphdom commented on #152
is more about to generate the cache, if you parallelise on the java side would be great, because we have 2 replicas of the qanswer app to respond of the backend demand, and if need more when we regenerate the cache we can increase only in that moment.

[2022-02-24 17:23] AThollard commented on #74
@faustusdotbe for the 'Just transition' it was in the H2020 model. And for me this model was working quite well so far.
So I don't know what is the state of play for that, we can discuss tomorrow morning and take the safest approach.

[2022-02-24 18:41] madewild commented on #74
@AThollard yes but H2020 is a model specialized on research and it does not cover all the domains of Kohesio. For instance "guesthouse" is inexistent in H2020, as well as concepts related to tourism, travel, etc. That's why we decided with @faustusdotbe and @roberto-musmeci to try to train a model more centered on Kohesio data, but since we don't have some much data (compared to H2020) the robustn

[2022-02-25 07:55] madewild commented on #147
Fixed in TEST today.

[2022-02-25 07:55] #147 closed

[2022-02-25 10:19] D063520 commented on #109
@madewild can you check now if it is what you expect?

https://kohesio.test.ec.europa.eu/beneficiaries?name=university

[2022-02-25 10:34] madewild commented on #109
Yes good for https://kohesio.test.ec.europa.eu/beneficiaries?name=university&country=Portugal it has 16 results like in dev!

The two other issues are not solved yet... but maybe this can wait.
https://github.com/ec-doris/kohesio-backend/issues/109#issuecomment-1043540978
https://github.com/ec-doris/kohesio-backend/issues/109#issuecomment-1046023509

[2022-02-25 10:41] D063520 commented on #109
The comment part is too heavy .... it would slow down other parts .... I prefer to keep like this

[2022-02-25 10:46] madewild commented on #109
OK for me, I postpone to 1.2 then for the more complex fix. Thanks!

[2022-03-02 10:26] madewild opened #153 "Handle beneficiaries attached to multiple countries"
Some beneficiaries like https://linkedopendata.eu/wiki/Item:Q213207 have two countries (here Austria and Czechia)

Searching on Austrian beneficiaries correctly finds this beneficiary, but only one country is listed by the API and here it's Czechia:

https://kohesio.acceptance.ec.europa.eu/api/facet/eu/search/beneficiaries?offset=0&limit=15&country=https://linkedopendata.eu/entity/Q16

This is str

[2022-03-09 17:28] madewild opened #156 "Empty graph viz for beneficiary without EN label"
For instance:

https://kohesio.development.ec.europa.eu/beneficiaries/Q3831611

click on "Graph" button

https://query.linkedopendata.eu/embed.html#%23defaultView%3AGraph%0ASELECT%20%3Fitem%20%3FitemLabel%20WHERE%20%7B%0A%20%20VALUES%20%3Fitem%20%7B%20%3Chttps://linkedopendata.eu/entity/Q3831611%3E%7D%20%3Fitem%20%3FpDirect%20%3FlinkTo%20.%0A%20%20%3Fitem%20rdfs%3Alabel%20%3FitemLabel%20.%0A%20%20

[2022-03-15 09:47] madewild opened #157 "Experiment with sense2vec"
Yesterday during the demo to the board of directors, an interesting point came up: how to differentiate between projects about building real "bridges" vs all the metaphorical "bridges" between people etc.?
In therory sense2vec (https://github.com/explosion/sense2vec) or similar vectors could handle that... to investigate.

[2022-03-15 09:49] D063520 commented on #157
One approach is to do entity linking over all projects. Then  we would have concepts instead of words. Not sure about the quality though ...

[2022-03-15 15:09] madewild opened #158 "Duplicate results in global search"
Many duplicates: https://kohesio.development.ec.europa.eu/search?keywords=requalification%202020%20of%20seresian

[2022-03-15 15:11] madewild commented on #158
@D063520 we live with this until next version?

[2022-03-15 15:34] D063520 commented on #158
yes, we will not change anything right now .....

[2022-03-18 08:07] madewild commented on #156
Proposed fix in dev: https://kohesio.development.ec.europa.eu/beneficiaries/Q3831611

Graph button : https://query.linkedopendata.eu/embed.html#%23defaultView%3AGraph%0ASELECT%20%3Fitem%20%3FitemLabel%20WHERE%20%7B%0A%20%20VALUES%20%3Fitem%20%7B%20%3Chttps://linkedopendata.eu/entity/Q3831611%3E%7D%20%3Fitem%20%3FpDirect%20%3FlinkTo%20.%0A%20%20OPTIONAL%7B%3Fitem%20rdfs%3Alabel%20%3FitemLabel%20.%0

[2022-03-18 08:12] madewild commented on #156
@D063520 let me know what you think, if good enough we can close...

[2022-03-18 12:22] D063520 commented on #156
yes, for me it is fine!

[2022-03-18 12:52] #156 closed

[2022-03-21 10:06] faustusdotbe commented on #74
@AThollard @roberto-musmeci

Have you encountered anything drastically wrong, misleading, or even offensive/insulting in the model? I am building a general-purpose tool to fix as many issues as possible using existing lists of offensive words and Roberto's list of "kohesio gold truth" hereabove, but any additional input would be super useful.

[2022-03-21 17:23] AThollard commented on #74
Hi @faustusdotbe nothing as bold as the 'woman' example last week
However maybe we could fine tune the model for the minorities or religions that are quite sensitive
eg: 'roma' 'jews' or 'lgbt' (for example why do we have 'extreme right' in the corpus for this last one'?

[2022-03-21 17:25] AThollard commented on #74
same if you search 'homosexuality' you end-up with 'salafi'

[2022-03-21 17:28] AThollard commented on #74
For 'sufism' I don't see the link with 'women writers'?

[2022-03-22 09:15] faustusdotbe commented on #74
Thanks for these @AThollard !

I should have said that the website would revert to the h2020 model no matter what option was selected, sorry. The h2020 model is still the one used by Kohesio.

I've now pushed a new model (`test cleaning`) on the machine and it is available through the web interface. The new model is based on the whole Wikipedia and fine-tuned on Kohesio, then cleaned (roughly 8.8k

[2022-03-28 18:13] saerdnaer opened #159 "Nominatim search should be extended with programme region as search area"
It looks like many projects from Niedersachsen (Hamburg) are assigned to Hamburg (Schwaben) in Donau-Ries (Bavaria):

<img width="1137" alt="image" src="https://user-images.githubusercontent.com/40266/160460582-bbf5406f-cc21-42e6-accf-b639cacab9ce.png">

[2022-03-31 14:51] roberto-musmeci opened #171 "Include NUTS 3 filter in advanced filters"
Maybe we can put a filter in the advance filter. What do you think?

-------------------
_Good morning, my name is _*****_ and I am a journalist _************_, in Spain. I am writing to you because I have just discovered the Kohesio portal and I have found all the accessible content offered on it very interesting.
The problem I have is that I don't know if there is the possibility of obtaining ge

[2022-04-01 09:20] madewild opened #160 "Non-Kohesio projects counted in total and EU contrib"
https://kohesio.ec.europa.eu/beneficiaries/Q3062860

3 projects but only 1 undersKohesio scope

[2022-04-11 09:01] roberto-musmeci opened #161 "Add Kohesio examples in Wikibase query endpoint"
Some user suggested it would be good to have some Kohesio-related queries in the example list in the SPARQL endpoint.
Possibly good also for us for very recurrent queries.
Do we have control over that ? is it feasible and useful in your opinion ?

![image](https://user-images.githubusercontent.com/86654885/162702064-37c0b741-abfa-4254-a7c8-d54f13d9d1a8.png)

[2022-04-11 09:05] madewild commented on #161
Linked to https://github.com/ec-doris/EuKnowledgeGraph/issues/61 and https://github.com/ec-doris/EuKnowledgeGraph/issues/65

[2022-04-13 13:04] svili commented on #146
@DiaZork any updates on this? I have a frontend ticket referencing this. Not urgent just asking.

[2022-05-03 12:03] faustusdotbe opened #162 "Encoding issue in beneficiary data dump"
Hi,

The new dump at https://kohesio.ec.europa.eu/data/beneficiaries/ displays encoding issues, see eg for `latest_FR.csv`:

![Screenshot from 2022-05-03 13-59-19](https://user-images.githubusercontent.com/5579081/166449180-d48b7a9c-454c-47b7-b667-aa807854074d.png)

The `.xlsx` files seem to have the same issue.

[2022-05-03 12:27] madewild commented on #162
Maybe @svili you can help with this?

[2022-05-03 13:08] D063520 commented on #162
Was it appearing also in the old dumps?

[2022-05-03 13:09] faustusdotbe commented on #162
No, this is new

[2022-05-03 13:11] D063520 commented on #162
The yes, I think @svili is the best to help out here ....

[2022-05-06 13:51] madewild commented on #161
@D063520 can you report upstream to WMDE?

[2022-05-06 13:53] madewild commented on #160
@DiaZork also fix on fund total, then we can close

[2022-05-06 13:57] #157 closed

[2022-05-06 13:59] madewild commented on #153
https://kohesio.ec.europa.eu/beneficiaries?country=Austria

[2022-05-06 14:07] #141 closed

[2022-05-06 14:09] madewild commented on #140
Add disclaimer below the map?

[2022-05-06 14:14] madewild commented on #134
@madewild delete old dev wikibase

[2022-05-06 14:22] #74 closed

[2022-05-10 14:26] madewild opened #163 "Multilingual semantic search?"
Fair point from Polish translator today: "Will semantic search also work in other languages. If yes, should I translate the examples? Even if semantic search works in all languages, I can only guess if the example will be valid. If semantic search does not work in translation what should we do with the sentence which describes it? Should we leave the English words?"

For now we will say it support

[2022-05-10 23:05] svili commented on #163
Never thought I'd use it again but [my master thesis](https://link.springer.com/chapter/10.1007/978-3-030-91608-4_15) (can try to dig up the full from somewhere) was about learning a mapping between vectorfields of different languages on parallel corpus...
We already have the translation of the projects we could use as a parallel corpus, and then its just a matter of finding a good metric to learn

[2022-05-11 06:28] faustusdotbe commented on #163
Right out of the gate I would say that the easiest would be to simply translate the words we already have in our EN model, and sticking the vectors to their translation. But of course it's not ideal because that's not how language works, and we'd probably have issues with Finnish and its 15 cases or Hungarian, etc.

@svili  Why do we need to map embeddings cross-lingually? I assume that we will ha

[2022-05-11 07:17] svili commented on #163
Yea, you'r probably right, simply translating H2020 might be good enough, and in the end we would still have to maintain the same number of models so no advantage in the mapping on that regard.

[2022-05-11 15:45] svili commented on #162
For future reference: `requests` assumes non utf-8 encoding for text contents.
Fixed now. We have also rescheduled the cronjob for the data generation so tonight we will create new exports that should not have this issue.
Btw here is the repo for the exporting script: https://github.com/ec-doris/kohesio-exporter

[2022-05-12 08:00] svili commented on #162
The new exports are in https://kohesio.test.ec.europa.eu/data/beneficiaries/
But with Roberto we've seen some really weird issue. If we opened https://kohesio.test.ec.europa.eu/data/beneficiaries/latest_BG.csv it looked like it had an encoding error. But not 05-12_BG which are a copy of it. Even weirder is that now the error is gone and it looks fine.
Can you guys check if the files are normal on

[2022-05-12 08:12] faustusdotbe commented on #162
Aside from some lines with repeated double quotes (see below), the BG one renders correctly (well, it looks Cyrillic and I havent seen any encoding issues) both in Python and LibreOffice

[code]

`latest_FR.csv` seems fixed (green rectangles in image below) but shed light on a data issue (red rectangle) that we can actually find in the KB : https://linkedopendata.eu/wiki/Item:Q3764224

![Screensho

[2022-05-16 09:25] madewild commented on #146
@DiaZork can you please implement this when you have time?

[2022-05-17 08:01] faustusdotbe commented on #162
Reopening this issue: shouldn't we be moving the data from https://kohesio.**test**.ec.europa.eu/data/beneficiaries/ to https://kohesio.ec.europa.eu/data/beneficiaries/ ?

[2022-05-17 08:24] madewild commented on #162
Yes with the June release ;)

[2022-05-17 08:24] #162 closed

[2022-05-18 08:39] madewild commented on #161
Now available on https://query.linkedopendata.eu/

[2022-05-18 08:39] #161 closed

[2022-05-18 12:46] madewild opened #164 "Missing beneficiaries"
On https://kohesio.development.ec.europa.eu/api/facet/eu/search/beneficiaries?offset=990&limit=15

We are supposed to get 15 results but for some reason we get only 10...

On https://kohesio.development.ec.europa.eu/api/facet/eu/search/beneficiaries?offset=975&limit=15 and https://kohesio.development.ec.europa.eu/api/facet/eu/search/beneficiaries?offset=1005&limit=15 it works fine, very strange...

[2022-05-25 13:38] madewild opened #165 "Add managing authority to CSV/XLSX exports"
Currently this info is not provided...

[2022-05-31 08:07] madewild opened #166 "Allow multiple programmes and budgets for one project"
Change values to lists in project API
Caution, the order will be important since we need to correlate the programme with the budget!

[2022-06-03 08:52] #134 closed

[2022-06-03 09:07] madewild commented on #165
check with @D063520 for the sparql query

[2022-06-03 09:14] svili commented on #165
@D063520 Here's the current query: https://github.com/ec-doris/kohesio-exporter/blob/main/queries/projects.sparql
Can you give me here the new line to the select? Or you can edit this also. The strings starting with `PARAM_` are strings I'm replacing for each country in python.
Also if you have a better way of handling parameters to sparql queries please advise.

[2022-06-03 09:38] D063520 commented on #165
basically we need in the SELECT a:

(GROUP_CONCAT(DISTINCT ?managingAuthorityLabel; SEPARATOR = "|") AS ? ManagingAuthority)

and in the WHERE here:

https://github.com/ec-doris/kohesio-exporter/blob/9aa18f6b99403044daaadb3acbed3e21e1e60253/queries/projects.sparql#L96

another optional like:

OPTIONAL {
      ?program <https://linkedopendata.eu/prop/direct/P1586> ?managingAuthority .
      OPTIONA

[2022-06-03 12:08] D063520 commented on #152
what is the current status of this? Is 4 hours too much?

[2022-06-03 12:09] raphdom commented on #152
for me it is good, but when we import new projects, maybe it will grow, but we can close it for now... on my opinion

[2022-06-03 12:11] #152 closed

[2022-06-03 12:14] D063520 commented on #166
@roberto-musmeci: we would prefer to discuss with you

[2022-06-03 12:16] DiaZork commented on #166
Some example for this issues:

https://linkedopendata.eu/wiki/Item:Q3884990
https://linkedopendata.eu/wiki/Item:Q3884860

[2022-06-03 12:24] D063520 commented on #166
I would put the budget per program as a reefied statement on the program. Like:

projects -> program -> programX
           budgets -> budgetProgramX

like this we have the information, if we want we can render it. The only problem is that if we aggregate the budget by program we will take the whole budget of the project for bot programs. @roberto-musmeci: is this a problem?

[2022-06-09 07:40] madewild opened #167 "Move index from dev to test every night"
It would be good to put in place a job freezing the dev index and copying it to test every night. It would help with things like https://github.com/ec-doris/kohesio-data/issues/88#issuecomment-1150774582 where we need more up to date exports...

[2022-06-09 12:14] #160 closed

[2022-06-13 15:20] #164 closed

[2022-06-13 15:23] roberto-musmeci commented on #166
@D063520  I think it's fine to
1) display the aggregate budget across the programs
2) mention the list of programs in the relevant field

[2022-06-14 07:27] roberto-musmeci opened #169 "Thematic objective not displayed"
for this [project](https://linkedopendata.eu/wiki/Item:Q4294389), the Thematic Objective is in the graph but the icon is not displayed in [Kohesio](https://kohesio.development.ec.europa.eu/en/projects/Q4294389
).

Is it because the theme is deducted from the intervention field ? In principle, if we have Thematic Objetive information in the graph we should display that. Can we make this change ?

[2022-06-14 09:50] madewild commented on #169
@DiaZork can you check why themeLabels and themeIds are empty on https://kohesio.development.ec.europa.eu/api/facet/eu/project?id=https://linkedopendata.eu/entity/Q4294389 ?

Maybe related to https://github.com/ec-doris/kohesio-frontend/issues/650

[2022-06-16 07:10] madewild opened #170 "Add fund website to project API"
On https://kohesio.development.ec.europa.eu/api/facet/eu/project?id=https://linkedopendata.eu/entity/Q100952 there is already "fundLabel":"European Regional Development Fund" but we would also need "fundWebsite":"https://ec.europa.eu/regional_policy/en/funding/erdf/".

This information is already in the Wikibase (see https://linkedopendata.eu/wiki/Item:Q2504369) and can be retrieved through the P6

[2022-06-17 10:53] roberto-musmeci opened #172 "Display external content"
We are starting enriching projects with links to tweets, videos etc. Managing authorities are also sending us some materials so other unit of REGIO

For instance this [tweet](https://twitter.com/ElisaFerreiraEC/status/1537118383652712448) refers to this [project](https://kohesio.ec.europa.eu/projects/Q3810843)

Could we embed the tweet or a youtube video if the property is availalbe in the KG ?
Of

[2022-06-19 18:36] D063520 opened #173 "Problem with map rendering of interreg projects"
See for example:

https://kohesio.development.ec.europa.eu/en/projects/Q4294299

Solution searched .....

PS: others seams less problematic:

https://kohesio.development.ec.europa.eu/en/projects/Q4300906

[2022-06-20 09:30] #169 closed

[2022-06-20 11:02] #158 closed

[2022-06-20 11:22] D063520 opened #174 "problem with some regions in greece"
<img width="1140" alt="Screenshot 2022-06-20 at 13 30 58" src="https://user-images.githubusercontent.com/10883585/174592616-fe4c81c9-e322-4341-84cd-b2f631b64878.png">

[2022-06-20 11:24] madewild commented on #174
Wrong copy-paste? This project is in Belgium.

[2022-06-21 09:39] roberto-musmeci commented on #169
@DiaZork Possibly still some problem here

Thematic objective for all projects [here](https://kohesio.test.ec.europa.eu/en/projects?country=Finland&program=2014TC16RFIR001---Interreg-Europe_1&sort=Total-Budget-(descending)) is not displayed in the list of results but it's displayed in the project [fiche](https://kohesio.test.ec.europa.eu/en/projects/Q4297435)

[2022-06-22 07:07] madewild opened #175 "Only one country sent back on project detail page"
Project https://linkedopendata.eu/wiki/Item:Q4297342 is in Romania and Ukraine.

But on https://kohesio.test.ec.europa.eu/en/projects/Q4297342 it says "multiple locations, Ukraine". Romania is not mentioned although only Romania is in orange on the map:
![romania](https://user-images.githubusercontent.com/942488/174965484-146bf46e-7bd1-4014-ae12-77653050201e.png)

Additionally I removed the "in" (

[2022-06-22 10:15] DiaZork commented on #175
It's done in the backend, but it will need some change in the frontend, the following fields were string and are now array
- countryLabel
- countryCode

[2022-06-22 10:17] D063520 commented on #175
Are you sending also 2 geometries?

[2022-06-22 10:19] DiaZork commented on #175
This was already working but sometime for country outside EU it doesn't have the geometry so it doesn't display it

[2022-06-22 14:06] raphdom commented on #175
now, it is working on dev properly, tell me when do you want to send it to TEST @DiaZork

[2022-06-23 15:28] D063520 commented on #173
@DiaZork I do not remember the problem here, but:

https://kohesio.development.ec.europa.eu/en/projects/Q4300906

the beneficiary is repeted now .....

[2022-06-23 15:47] AThollard opened #176 "No map on project fiche"
https://kohesio.test.ec.europa.eu/en/projects/Q3095626

[2022-06-23 16:02] D063520 commented on #176
This looks like a front-end problem. I can see the information in the api response:
<img width="1501" alt="Screenshot 2022-06-23 at 18 02 20" src="https://user-images.githubusercontent.com/10883585/175343878-c8f423ee-1b16-4f18-aab4-8d50f64df5d4.png">

@raphdom : can you check what it is? maybe a format problem

[2022-06-23 16:54] #174 closed

[2022-06-23 16:56] #173 closed

[2022-06-24 09:07] #175 closed

[2022-06-24 09:14] madewild commented on #165
Let's postpone this

[2022-07-11 12:30] madewild opened #179 "Filter for interreg projects"
Find a way to select all interreg projects without going country by country

[2022-07-11 12:35] madewild opened #180 "Allow to search for radius around one town"

[2022-09-08 12:52] DiaZork commented on #171
It's added.
The parameter is **nuts3** in the API **/api/facet/eu/search/project** and it take the URI of a NUTS 3.
Also there is a facet in **/api/facet/eu/nuts3** that can take **country** or **region** parameter and give the list of NUTS 3 (it give all the NUTS 3 if no region or country are specified)

[2022-09-08 12:56] DiaZork commented on #180
It's added to **/api/facet/eu/search/project** with the parameter **town** and **radius**
If **town** is specify it make a call to nominatim to get the coordinates of the town ask and then retrieve the projects in a distance inferior to **radius** which by default is 100km and **radius** a value in kilometer

[2022-09-08 13:08] madewild commented on #171
Already done this morning in the exports.
Now it's more for @raphdom to implement the filter in the frontend...

[2022-09-08 13:10] madewild commented on #180
@roberto-musmeci where should we implement this?

[2022-09-08 13:11] D063520 commented on #180
The idea was also in the facet search, you put a town to search around it ....

[2022-09-08 13:12] madewild commented on #180
OK but this will be short, will transfer to frontend then postpone to next release

[2022-09-08 13:47] roberto-musmeci opened #181 "Expose keep.eu URL in project detail page API"
Example
https://linkedopendata.eu/wiki/Item:Q4300675
https://linkedopendata.eu/wiki/Property:P562941

We'd like to implement a sort of read further about the project for Keep.eu projects
https://kohesio.development.ec.europa.eu/en/projects/Q100952

[2022-09-08 13:50] DiaZork commented on #179
It's added too,
In **/api/facet/eu/search/project** we now have a **interreg** parameter with 3 cases :
- null (not set) : whatever project
- false : exclude interreg projects
- true : only interreg projects

[2022-09-08 13:52] madewild commented on #179
Great, so @raphdom you can take it from here?

[2022-09-08 14:07] D063520 commented on #179
Hope this will scale, especially the "false value" is heavy ....

[2022-09-08 15:07] DiaZork commented on #181
It's added in the api.
In the response you will have the parameter keepUrl with the url to keep project

[2022-09-09 05:16] madewild commented on #179
Follow-up on https://github.com/ec-doris/kohesio-frontend/issues/669

[2022-09-09 05:16] #179 closed

[2022-09-15 11:26] madewild opened #182 "Descriptions disappeared in dev"
https://kohesio.development.ec.europa.eu/api/facet/eu/search/project?offset=0&limit=15 contains empty descriptions for all projects
compare with https://kohesio.test.ec.europa.eu/api/facet/eu/search/project?offset=0&limit=15 where it works properly

[2022-09-16 09:50] raphdom commented on #172
We could embed tweet as we did for youtube, without any problem, maybe for 1.4...

[2022-09-16 10:08] D063520 commented on #170
Added fund website
<img width="1724" alt="Screenshot 2022-09-16 at 12 07 55" src="https://user-images.githubusercontent.com/10883585/190615377-915798f8-fc60-4b74-b9aa-17b406f9c596.png">

[2022-09-16 10:09] D063520 commented on #170
@madewild @raphdom  let you decide for which milestone this is

[2022-09-16 10:13] D063520 commented on #172
Added tweet link in API

<img width="1724" alt="Screenshot 2022-09-16 at 12 13 15" src="https://user-images.githubusercontent.com/10883585/190616365-71a308cf-23b6-40d6-a0e3-fc0d7e29c3e4.png">

[2022-09-16 10:14] D063520 commented on #172
Let you check for  the milestone

[2022-09-16 14:18] D063520 commented on #140
Hi Max, I do not know what to do with this .... basically the projects have no geo-coordinates attached. If you want to put a disclaimer then it should be in the UI, no?

[2022-09-19 07:10] madewild commented on #140
Yes I don't know the best way to handle this, I'll transfer to UI and postpone

[2022-09-19 11:18] D063520 commented on #182
@raphdom can you please check, it looks like there is a field in the API:

<img width="1728" alt="Screenshot 2022-09-19 at 13 18 03" src="https://user-images.githubusercontent.com/10883585/191006094-605ee815-a8ef-4004-8d7c-eb19a3782147.png">

[2022-09-20 13:05] madewild commented on #167
WIP...

[2022-09-20 13:07] madewild commented on #166
Let's add the programmes first and postpone the budget aggregation issue

[2022-09-20 13:08] madewild commented on #165
@svili let's fix this together

[2022-09-20 13:09] madewild commented on #159
Difficult issue, postponed again :/

[2022-09-20 13:10] madewild commented on #153
https://kohesio.ec.europa.eu/en/beneficiaries?country=Austria&page=15

[2022-09-20 13:12] D063520 commented on #153
ok, let's enforce the country!

[2022-09-20 13:13] madewild commented on #136
@roberto-musmeci this is tricky because we have to change the standard behaviour of Lucene... still relevant or can we close?

[2022-09-20 13:17] #111 closed

[2022-09-20 13:18] D063520 commented on #109
We have the code, but it will not make it in this release but in the next one!

[2022-09-20 13:20] madewild commented on #78
@svili could you investigate this?

[2022-09-20 15:00] D063520 commented on #153
![Uploading Screenshot 2022-09-20 at 17.00.20.png…]()
Fixed

[2022-09-21 07:37] madewild commented on #165
Actually I added this in https://github.com/ec-doris/kohesio-exporter/commit/87fb5f12eb4d16009847d34065fec6f85910116a
Goldfish memory anyone? :D

[2022-09-21 07:37] #165 closed

[2022-09-21 08:09] madewild commented on #133
Only for CZ, we can change the property to end date

[2022-09-21 08:11] #136 closed

[2022-09-21 08:12] madewild commented on #166
@raphdom to adapt in the frontend
@madewild to check in the exports, pipe separated values?

[2022-09-21 08:43] madewild commented on #166
Already the case in export:

[code]

[2022-09-21 12:37] DiaZork commented on #166
It's done in the backend.
You have now a list *program* that contain the list of the program with 3 attributes which are the same as previously:
- programInfoRegioUrl
- programFullLabel
- programLabel

If you want to [try](https://kohesio.development.ec.europa.eu/api/facet/eu/project?id=https://linkedopendata.eu/entity/Q3884990)

[2022-09-21 12:47] raphdom commented on #166
There is no programmingPeriodLabel anymore? Or this is per programme? Can you add this?
What is the max number of programmes that one project can have?

[2022-09-21 13:08] roberto-musmeci commented on #166
There is not a maximum of programs but resonably I do not expect more than
4 programs.

On Wed, 21 Sep 2022, 14:47 Raphael Domingues, ***@***.***>
wrote:

[2022-09-21 13:38] DiaZork commented on #166
I've added it, it was hard coded so i've done the same

[2022-09-22 07:08] raphdom commented on #166
I have put in another box, tell me if you have another suggestion:
<img width="369" alt="Screenshot 2022-09-22 at 08 55 34" src="https://user-images.githubusercontent.com/5124917/191679151-419c61fd-2f46-4ad9-a15b-5b0d1bb2c584.png">

[2022-09-22 07:19] madewild commented on #166
@roberto-musmeci what do you think?

[2022-09-22 07:22] roberto-musmeci commented on #166
I think you solution is good @raphdom. We can close this.

[2022-09-22 07:22] #166 closed

[2022-09-22 14:40] saerdnaer commented on #159
Can you provide the contact details for the datasource? Maybe they can provide an better export with actual place IDs instead of Strings..

Also if you could elaborate on your concrete Nominatim queries, I actual might be able to help... :-)

[2022-09-26 08:20] svili opened #183 "Export slowness"
Exporting takes around 15 hours every day.
[generate-exports-2022-09-25.log](https://github.com/ec-doris/kohesio-backend/files/9644338/generate-exports-2022-09-25.log)

The export generation script can be found here: https://github.com/ec-doris/kohesio-exporter

[2022-09-26 09:13] roberto-musmeci opened #184 "Greek programs not appearing in Program filters"
If you select Greece in the country filters, only INTERREG programs are shown in the Programme Filter.
I suppose it's due to the EL-GR discrepancies in the country labels.
Is there a quick fix we can deploy ?

https://kohesio.ec.europa.eu/en/projects?page=2&country=Greece&sort=Total-Budget-(descending)

[2022-09-26 12:33] DiaZork commented on #184
Look like the greek program are missing P32
https://linkedopendata.eu/wiki/Item:Q2463300

[2022-09-26 12:40] madewild commented on #184
Added! :)

[2022-09-26 12:40] madewild commented on #184
Ah there are several... let's add them everywhere then

[2022-09-26 12:41] DiaZork commented on #184
I can do it
i have a small script to do it

[2022-09-26 12:44] madewild commented on #184
As you wish, I already fixed half manually ;)

[2022-09-26 12:47] DiaZork commented on #184
It's done !

[2022-09-26 12:47] madewild commented on #184
So we wait until tomorrow for this to be reindexed in test, and then move to ACC ?

[2022-09-26 12:51] madewild commented on #184
fyi @raphdom @svili

[2022-09-29 11:41] #184 closed

[2022-10-03 08:42] roberto-musmeci opened #189 "Program Type filter not linked to heatmap"
I think the heat map is not connected to the program type filter ([link](https://kohesio.ec.europa.eu/en/projects?interreg=Interreg&sort=Total-Budget-(descending)&tab=map))
INTERREG projects across the EU are ~8K. The heat map shows only in Italy +700K (which is the total number of all projects)

I don't know if you want to fix this already or push it to December. December for me it's fine.
I thin

[2022-10-11 14:07] madewild opened #185 "HTTP 500 on project detail"
https://linkedopendata.eu/wiki/Item:Q4301189 exists and is a valid Kohesio project

but https://kohesio.ec.europa.eu/api/facet/eu/project?id=https://linkedopendata.eu/entity/Q4301189 gives back:

There was an unexpected error (type=Internal Server Error, status=500).
@DiaZork any clue why?

[2022-10-12 08:39] raphdom opened #186 "Allow QID parameter in all filters queries"
Be able to query all filters with QID, in order to translate the URL when user switch between languages.

[2022-10-13 14:14] D063520 commented on #185
@madewild Jonathan fixed it .... can you test in acceptance? If it is fine for you we can move in prod ...

[2022-10-17 10:58] roberto-musmeci opened #187 "Porto NUTS 3 not accessible from the map"
In the main page, users cannot reach Porto NUTS 3 region.
If you click on the Norte Region (NUTS 2), Porto does not appear among the clickable NUTS 3 regions. However, it should be there.

The filters for NUTS 3 region in the project research page instead works just fine.

[2022-10-19 07:30] madewild opened #188 "Add NUTS3 code to API"
On https://kohesio.development.ec.europa.eu/api/facet/eu/nuts3?language=en we don't have the NUTS3 code (e.g. FR01)
Would be good to add it since it's an expert filter

[2022-10-20 08:52] raphdom opened #190 "Outermost regions API"
Now, I have this json hardcoded on my side, can you give me an API to get this from the KG? Can you add the total project number, by region, it will be great.
Thanks
[{
        label: "Madeira",
        country: "Q18",
        countryLabel: "Portugal",
        id: "Q203"
    },{
        label: "Azores",
        country: "Q18",
        countryLabel: "Portugal",
        id: "Q204"
    },{
        la

[2022-10-20 09:05] D063520 commented on #190
there is now this API:

/api/facet/eu/outermost_regions

that gives back nearly the same json object

You have to wait a second to be redeployed ....

[2022-10-20 09:20] D063520 commented on #188
This is done .... probably needs to be moved to the front-end

[2022-11-07 14:09] DiaZork commented on #189
It's fixed on dev.
Interreg parameter was missing for the map API

[2022-11-07 14:09] #189 closed

[2022-11-07 14:17] D063520 commented on #187
@roberto-musmeci can you check again? in Dev or TEST?

[2022-11-07 15:40] DiaZork commented on #186
For each method of the facet controller i added a qid parameter **qid** with qid the entity you want to query.
So it's  like the following
https://kohesio.development.ec.europa.eu/api/facet/eu/countries?qid=https://linkedopendata.eu/entity/Q8&language=en

[2022-11-07 15:40] #186 closed

[2022-11-09 14:17] raphdom opened #191 "English labels in map API"
Example: https://kohesio.development.ec.europa.eu/api/facet/eu/search/project/map?granularityRegion=https://linkedopendata.eu/entity/Q18&language=el

Still have some english labels, even if I specify the language

[2022-11-10 14:39] DiaZork commented on #191
It's fixed.
For the NUTS there is a hashmap that was initialised only the first time we use it so only with the first language used. That's why only english was available

[2022-11-10 14:39] #191 closed

[2022-11-15 08:44] roberto-musmeci commented on #187
it works thanks :)

[2022-11-15 08:44] #187 closed

[2022-11-19 13:46] D063520 commented on #167
This is in place since some weeks now. Seams working.

[2022-11-19 13:46] #167 closed

[2022-11-19 13:47] D063520 commented on #109
This is finally fixed. We split the index of the beneficiary. Now it looks like this:

https://kohesio.development.ec.europa.eu/en/beneficiaries?name=university&country=Portugal

[2022-11-19 13:47] #109 closed

[2022-11-19 13:49] D063520 commented on #163
@faustusdotbe prepared this, @DiaZork can you please integrate the new multilingual API?

[2022-11-27 10:04] D063520 opened #192 "Links not working in project page (when not english) since sorting parameter not translated"
See for example "tema" link on:

https://kohesio.development.ec.europa.eu/it/progetti/Q10000

[2022-11-27 10:21] D063520 opened #193 "Projects with images not shown anymore"
Compare:

https://kohesio.development.ec.europa.eu/en/projects

https://kohesio.ec.europa.eu/en/projects

[2022-11-29 09:56] #163 closed

[2022-11-29 09:58] faustusdotbe commented on #163
🥳

[2022-11-29 10:09] faustusdotbe opened #194 "Improve semantic models"
Somehow some things went through the regex, such as parentheses (see picture).

![image](https://user-images.githubusercontent.com/5579081/204500307-1c4071e8-e71e-40ed-a7cf-7b441ca317c1.png)

Do more quality eval and update model.

NB: models aren't made nor deployed in this repo, but I put the issue here for the sake of visibility as I don't know what kohesio-but-not-DORIS colleagues have access

[2022-11-29 10:12] D063520 commented on #194
ok!

[2022-11-29 10:23] DiaZork commented on #193
Fixed !

[2022-11-29 10:23] #193 closed